<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
<div class="d-flex mt-3 filter-box">
    <h2 class="fw-bold">Student</h2>
    <div class="vr mx-3 opacity-100"></div>
    <select class="form-select w-25 ms-2" [(ngModel)]="districtModel" (change)=" getGraphsByDistrictName()">
        <option value="" disabled>Select District</option>
        <option *ngFor="let district of allDistricts" value="{{district.districtName}}">
            {{district.districtName}}
        </option>
    </select>
    <select class="form-select w-25 ms-2" [(ngModel)]="ZoneModel" (change)="getGraphsByZone()">
        <option value="" disabled>Select Zone</option>
        <option *ngFor="let zone of allZones" value="{{zone}}">
            {{zone}}
        </option>
    </select>
    <select class="form-select w-25 ms-2" [(ngModel)]="schoolModel" (change)="getGraphsBySchoolName()">
        <option value="" disabled>Select School</option>
        <option *ngFor="let school of AllSchool" value="{{school}}">
            {{school}}
        </option>
    </select>
</div>

<div class="d-flex justify-content-center filter-box mt-2" *ngIf="districtModel || ZoneModel || schoolModel">
    <h3 class="text-center mb-0" *ngIf="districtModel">{{districtModel}}&nbsp; </h3>
    <h3 class="text-center mb-0" *ngIf="ZoneModel"> <span *ngIf="districtModel">|</span> {{ZoneModel}}&nbsp; </h3>
    <h3 class="text-center mb-0" *ngIf="schoolModel"> <span *ngIf="ZoneModel">|</span> {{schoolModel}}</h3>
</div>

<div class="container1">
    <div class="column text-center">
        <h5 class="header-bg p-2 m-2">Delhi</h5>
        <div>
            <img class="img-fluid mt-2" width="160" src="../../../assets/images/icons/student 3.png">
        </div>
        <div class="d-flex justify-content-around pt-3">
            <div class="pt-4 pe-4 ps-4">
                <h2 class="fw-bold">{{totalStudent}}</h2>
                <h5>Total Student</h5>
            </div>
            <div class="vr ms-2"></div>
            <div class="pt-4">
                <h2 class="fw-bold">1 : {{averageStudentOfSchool?.toFixed(1)}}</h2>
                <h5>Average Student Per School</h5>
            </div>
        </div>
    </div>
    <div class="column text-center">
        <h5 class="header-bg p-2 m-2">Student & Teacher Ratio</h5>
        <img class="img-fluid mt-3" width="180" src="../../../assets/images/pngegg.png">
        <h5 class="mt-5">{{teacherStudentRatio | number: '1.0-0'}}
            : 1 Teacher</h5>
    </div>

    <div class="column">
        <h5 class="header-bg p-2 m-2">Student Gender Ratio</h5>
        <apx-chart [series]="studentsGenderRatio?.series" [chart]="studentsGenderRatio?.chart"
            [labels]="studentsGenderRatio?.labels" [fill]="studentsGenderRatio?.fill"
            [dataLabels]="studentsGenderRatio?.dataLabels" [plotOptions]="studentsGenderRatio?.plotOptions"
            [responsive]="studentsGenderRatio?.responsive" [legend]="studentsGenderRatio?.legend"
            [colors]="studentsGenderRatio?.colors"></apx-chart>
    </div>

    <div class="column">
        <h5 class="header-bg p-2 m-2">Shift Wise Student </h5>
        <apx-chart [series]="StudentShiftWiseCounts?.series" [chart]="StudentShiftWiseCounts?.chart"
            [labels]="StudentShiftWiseCounts?.labels" [fill]="StudentShiftWiseCounts?.fill"
            [stroke]="StudentShiftWiseCounts?.stroke" [responsive]="StudentShiftWiseCounts?.responsive"
            [legend]="MinorityWiseStudCount?.legend" [colors]="StudentShiftWiseCounts?.colors"></apx-chart>
    </div>

    <!-- <div class="column">
        <h5 class="header-bg p-2 m-2">Stream Wise Student</h5>
        <apx-chart [series]="StreamWiseStudent?.series" [chart]="StreamWiseStudent?.chart"
            [dataLabels]="StreamWiseStudent?.dataLabels" [plotOptions]="StreamWiseStudent?.plotOptions"
            [yaxis]="StreamWiseStudent?.yaxis" [labels]="StreamWiseStudent?.labels" [legend]="StreamWiseStudent?.legend"
            [colors]="StreamWiseStudent?.colors" [grid]="StreamWiseStudent?.grid"
            [fill]="StreamWiseStudent?.fill"></apx-chart>
    </div> -->

    <div class="column">
        <h5 class="header-bg p-2 m-2">Student By Management Wise </h5>
        <apx-chart [series]="StudentManagementWiseCounts?.series" [chart]="StudentManagementWiseCounts?.chart"
            [labels]="StudentManagementWiseCounts?.labels" [fill]="StudentManagementWiseCounts?.fill"
            [dataLabels]="StudentManagementWiseCounts?.dataLabels"
            [plotOptions]="StudentManagementWiseCounts?.plotOptions"
            [responsive]="StudentManagementWiseCounts?.responsive" [legend]="StudentManagementWiseCounts?.legend"
            [colors]="StudentManagementWiseCounts?.colors"></apx-chart>
    </div>

    <!-- <div class="column">
        <h5 class="header-bg p-2 m-2">Affiliation Wise Student</h5>
        <apx-chart [series]="AffiliationWiseStudent?.series" [chart]="AffiliationWiseStudent?.chart"
            [labels]="AffiliationWiseStudent?.labels" [fill]="AffiliationWiseStudent?.fill"
            [dataLabels]="AffiliationWiseStudent?.dataLabels" [plotOptions]="AffiliationWiseStudent?.plotOptions"
            [responsive]="AffiliationWiseStudent?.responsive" [legend]="AffiliationWiseStudent?.legend"
            [colors]="AffiliationWiseStudent?.colors"></apx-chart>
    </div> -->

    <div class="column">
        <h5 class="header-bg p-2 m-2">Student By Type Wise</h5>
        <apx-chart [series]="TypeOfStudSchool?.series" [chart]="TypeOfStudSchool?.chart"
            [labels]="TypeOfStudSchool?.labels" [responsive]="TypeOfStudSchool?.responsive"
            [legend]="TypeOfStudSchool?.legend"></apx-chart>
    </div>

    <!-- <div class="column">
        <h5 class="header-bg p-2 m-2">Student By minority Wise</h5>
        <apx-chart [series]="MinorityWiseStudCount?.series" [chart]="MinorityWiseStudCount?.chart"
            [labels]="MinorityWiseStudCount?.labels" [responsive]="MinorityWiseStudCount?.responsive"
            [legend]="MinorityWiseStudCount?.legend"></apx-chart>
    </div> -->

    <div class="column">
        <h5 class="header-bg p-2 m-2">Student By School Category</h5>
        <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart" [dataLabels]="chartOptions?.dataLabels"
            [plotOptions]="chartOptions?.plotOptions" [xaxis]="chartOptions?.xaxis" [labels]="chartOptions?.labels"
            [yaxis]="chartOptions?.yaxis" [legend]="StreamWiseStudent?.legend" [fill]="StreamWiseStudent?.fill"
            [colors]="StreamWiseStudent?.colors"></apx-chart>
    </div>

</div>