<div class="container1">
    <div class="column text-center">
        <h5 class="bg-light p-2 m-2">Central District</h5>
        <div class="d-flex justify-content-around pt-4">
            <div class="pt-4 pe-4 ps-4">
                <h2 class="fw-bold">{{totalStudent}}</h2>
                <h5>Total Student</h5>
            </div>
            <div class="vr"></div>
            <div class="pt-4">
                <h2 class="fw-bold">{{averageStudentOfSchool?.toFixed(2)}}</h2>
                <h5>Average Student of School</h5>
            </div>
        </div>
    </div>
    <div class="column text-center">
        <h5 class="bg-light p-2 m-2">Teacher Student Ratio</h5>
        <img class="img-fluid mt-4" width="180" src="../../../assets/images/Dashboard img/lady Teacher.png">
        <h5 class="mt-3 fw-bold">Teacher Student Ratio {{teacherStudentRatio?.toFixed(2)}} School</h5>
    </div>
    
    <div class="column">
        <h5 class="bg-light p-2 m-2">Student Gender Ratio</h5>
        <apx-chart [series]="studentsGenderRatio?.series" [chart]="studentsGenderRatio?.chart"
            [dataLabels]="studentsGenderRatio?.dataLabels" [plotOptions]="studentsGenderRatio?.plotOptions"
            [yaxis]="studentsGenderRatio?.yaxis" [xaxis]="studentsGenderRatio?.xaxis"
            [legend]="studentsGenderRatio?.legend" [colors]="studentsGenderRatio?.colors"
            [grid]="studentsGenderRatio?.grid"></apx-chart>
    </div>
    <div class="column">
        <h5 class="bg-light p-2 m-2">Categories wise student</h5>
        <apx-chart
    [series]="EnrollMentBySchoolcategories?.series"
    [chart]="EnrollMentBySchoolcategories?.chart"
    [dataLabels]="EnrollMentBySchoolcategories?.dataLabels"
    [plotOptions]="EnrollMentBySchoolcategories?.plotOptions"
    [xaxis]="EnrollMentBySchoolcategories?.xaxis"
  ></apx-chart>
</div>

<div class="column">
    <h5 class="bg-light p-2 m-2">Central District</h5>
    <apx-chart
    [series]="EnrollMentBySchoolcategoriesGenderWise?.series"
    [chart]="EnrollMentBySchoolcategoriesGenderWise?.chart"
    [dataLabels]="EnrollMentBySchoolcategoriesGenderWise?.dataLabels"
    [plotOptions]="EnrollMentBySchoolcategoriesGenderWise?.plotOptions"
    [responsive]="EnrollMentBySchoolcategoriesGenderWise?.responsive"
    [xaxis]="EnrollMentBySchoolcategoriesGenderWise?.xaxis"
    [fill]="EnrollMentBySchoolcategoriesGenderWise?.fill"
    
  ></apx-chart>
</div>


    
   

    
</div>