<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
<marquee class="mt-3 p-2 marquee filter-box" behavior="scroll" direction="left">
    <span class="mx-4 text-white" *ngFor="let district of districtWiseAttendanceCount">
        {{district._id}} - {{district.presentPercentage | number:'1.0-0'}}%
    </span>
</marquee>

<div class="mt-3 filter-box" [ngClass]="communicationServiceMobile ? 'd-block' : 'd-flex'">
    <h2 class="fw-bold">Regular </h2>
    <div class="vr mx-3 opacity-100" [ngClass]="communicationServiceMobile ? 'd-none' : 'd-block'"></div>
    <select class="form-select ms-2 mx-1 my-1" [(ngModel)]="districtModel" (change)="getGraphsByDistrictName()">
        <option value="">All District</option>
        <option *ngFor="let district of allDistricts" value="{{district.districtName}}">
            {{district.districtName}} ({{district.D_ID}})
        </option>
    </select>
    <select class="form-select ms-2 mx-1 my-1" [(ngModel)]="zoneModel" (change)="getGraphsByZone()">
        <option value="">All Zones</option>
        <option *ngFor="let zone of allZones" value="{{zone.Zone_Name}}">
            {{zone.Zone_Name}} ({{zone.Z_ID}})
        </option>
    </select>
    <select class="form-select ms-2 mx-1 my-1" [(ngModel)]="shiftModel" (change)="getGraphsBySfhit()">
        <option value="">Select Shift</option>
        <option *ngFor="let shift of allShift" value="{{shift}}">
            {{shift}}
        </option>
    </select>
    <select class="form-select ms-2 mx-1 my-1" [(ngModel)]="schoolModel" (change)="getGraphsBySchool()">
        <option value="">All School</option>
        <option *ngFor="let school of allSchools" [ngValue]="school">
            {{school.School_Name}} - ({{school.Schoolid}})
        </option>
    </select>
    <input type="date" class="form-control  ms-2 mx-1 my-1" [(ngModel)]="dateModel" (change)="getGraphsByDate(false)">
</div>

<div class="justify-content-center filter-box mt-2" [ngClass]="communicationServiceMobile ? 'd-none' : 'd-flex'"
    *ngIf="districtModel || zoneModel || shiftModel || dateModel">
    <!-- <div class="text-center"> -->
    <h3 class="text-center mb-0" *ngIf="dateModel">{{ formattedDate }}&nbsp;</h3>
    <h3 class="text-center mb-0" *ngIf="districtModel"><span *ngIf="dateModel">|</span>&nbsp;{{districtModel}}&nbsp;
    </h3>
    <h3 class="text-center mb-0" *ngIf="zoneModel"><span
            *ngIf="dateModel || districtModel">|</span>&nbsp;{{zoneModel}}&nbsp;</h3>
    <h3 class="text-center mb-0" *ngIf="shiftModel"><span
            *ngIf="districtModel || zoneModel || dateModel">|</span>&nbsp;{{shiftModel}}</h3>
    <h3 class="text-center mb-0" *ngIf="schoolModel"><span
            *ngIf="districtModel || zoneModel || dateModel || shiftModel">|</span>&nbsp;{{schoolModel.School_Name}}</h3>
    <!-- </div> -->
</div>



<div class="container1">

    <div class="column">
        <h5 *ngIf="!districtModel" class="header-bg p-2">Delhi</h5>
        <h5 *ngIf="districtModel" class="header-bg p-2">{{districtModel}}</h5>
        <div class="d-flex justify-content-around mt-4">
            <img class="ms-2" src="../../../assets/images/Dashboard/attendance.png" style="height: 100px;" alt="">
            <div class="d-block ms-1 text-center">
                <h1 class="fw-bold">{{allData?.totalStudentCount}}</h1>
                <h3>Total Student</h3>
            </div>
        </div>
        <div class="mt-5">
            <div class="d-flex justify-content-around text-center mt-5">
                <div class="mt-5">
                    <h3>Total Schools</h3>
                </div>
                <div class="mt-5">
                    <h2 class="fw-bold">{{allData?.countofSchool}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="column text-center">
        <h5 class="header-bg p-2">Total Attendance</h5>
        <!-- <img class="img-fluid" width="100" src="../../../assets/images/icons/available.png"> -->
        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="fw-bold">{{allData?.Counts[0]?.PresentCount}}</h3>
                <h5 class="fw-semibold">Total present</h5>
            </div>
            <div class="col-md-6" style="border-left: 1px solid #000;">
                <h3 class="fw-bold">{{allData?.Counts[0]?.AbsentCount}}</h3>
                <h5 class="fw-semibold">Total absent</h5>
            </div>
        </div>
        <hr style="opacity: 1;">
        <div class="row">
            <div class="col-md-6">
                <h3 class="fw-bold">{{allData?.Counts[0]?.totalLeaveCount}}</h3>
                <h5 class="fw-semibold">Total leave</h5>
            </div>
            <div class="col-md-6" style="border-left: 1px solid #000;">
                <h3 class="fw-bold">{{allData?.Counts[0]?.totalNotMarkedAttendanceCount}}</h3>
                <h5 class="fw-semibold">Not marked</h5>
            </div>
        </div>
    </div>

    <div class="column">
        <h5 class="header-bg p-2">Gender Wise Present</h5>
        <apx-chart [series]="genderWisePresent?.series" [chart]="genderWisePresent?.chart"
            [labels]="genderWisePresent?.labels" [fill]="genderWisePresent?.fill" [colors]="genderWisePresent?.colors"
            [dataLabels]="genderWisePresent?.dataLabels" [plotOptions]="genderWisePresent?.plotOptions"
            [responsive]="genderWisePresent?.responsive" [legend]="genderWisePresent?.legend"></apx-chart>
    </div>

    <div class="column">
        <h5 class="header-bg p-2">Gender Wise Absent</h5>
        <apx-chart [series]="genderWiseAbsent?.series" [chart]="genderWiseAbsent?.chart"
            [labels]="genderWiseAbsent?.labels" [fill]="genderWiseAbsent?.fill" [colors]="genderWiseAbsent?.colors"
            [dataLabels]="genderWiseAbsent?.dataLabels" [plotOptions]="genderWiseAbsent?.plotOptions"
            [responsive]="genderWiseAbsent?.responsive" [legend]="genderWiseAbsent?.legend"></apx-chart>
    </div>

    <div class="column">
        <h5 class="header-bg p-2">Gender Wise Leave</h5>
        <apx-chart [series]="genderWiseLeave?.series" [chart]="genderWiseLeave?.chart"
            [labels]="genderWiseLeave?.labels" [fill]="genderWiseLeave?.fill" [colors]="genderWiseLeave?.colors"
            [dataLabels]="genderWiseLeave?.dataLabels" [plotOptions]="genderWiseLeave?.plotOptions"
            [responsive]="genderWiseLeave?.responsive" [legend]="genderWiseLeave?.legend"></apx-chart>
    </div>

    <div class="column">
        <h5 class="header-bg p-2">Gender Wise Not Marked</h5>
        <apx-chart [series]="genderWiseNotMarked?.series" [chart]="genderWiseNotMarked?.chart"
            [labels]="genderWiseNotMarked?.labels" [fill]="genderWiseNotMarked?.fill"
            [colors]="genderWiseNotMarked?.colors" [dataLabels]="genderWiseNotMarked?.dataLabels"
            [plotOptions]="genderWiseNotMarked?.plotOptions" [responsive]="genderWiseNotMarked?.responsive"
            [legend]="genderWiseNotMarked?.legend"></apx-chart>
    </div>

    <div class="column">
        <h5 class="header-bg p-2">Attendance Status Wise Count</h5>
        <apx-chart [series]="attendanceStatusCount?.series" [chart]="attendanceStatusCount?.chart"
            [labels]="attendanceStatusCount?.labels" [fill]="attendanceStatusCount?.fill"
            [colors]="attendanceStatusCount?.colors" [dataLabels]="attendanceStatusCount?.dataLabels"
            [plotOptions]="attendanceStatusCount?.plotOptions" [responsive]="attendanceStatusCount?.responsive"
            [legend]="attendanceStatusCount?.legend"></apx-chart>
    </div>

    <div class="column" *ngIf="!zoneModel && !districtModel">
        <h5 class="header-bg p-2">District wise top 5 attendance</h5>
        <apx-chart [series]="districtWiseTopFiveGraph?.series" [chart]="districtWiseTopFiveGraph?.chart"
            [dataLabels]="districtWiseTopFiveGraph?.dataLabels" [plotOptions]="districtWiseTopFiveGraph?.plotOptions"
            [responsive]="districtWiseTopFiveGraph?.responsive" [xaxis]="districtWiseTopFiveGraph?.xaxis"
            [legend]="districtWiseTopFiveGraph?.legend" [fill]="districtWiseTopFiveGraph?.fill"
            [colors]="districtWiseTopFiveGraph?.colors"></apx-chart>
        <p class="text-center bg-danger text-light"><span class="fw-bold"> {{districtWiseTopFiveGraph?.notFound}} :
            </span> Schools data not found</p>
    </div>

    <div class="column" *ngIf="!zoneModel && !districtModel">
        <h5 class="header-bg p-2">District wise bottom 5 attendance</h5>
        <apx-chart [series]="districtWiseBottomFiveGraph?.series" [chart]="districtWiseBottomFiveGraph?.chart"
            [dataLabels]="districtWiseBottomFiveGraph?.dataLabels"
            [plotOptions]="districtWiseBottomFiveGraph?.plotOptions"
            [responsive]="districtWiseBottomFiveGraph?.responsive" [xaxis]="districtWiseBottomFiveGraph?.xaxis"
            [legend]="districtWiseBottomFiveGraph?.legend" [fill]="districtWiseBottomFiveGraph?.fill"
            [colors]="districtWiseBottomFiveGraph?.colors"></apx-chart>
        <p class="text-center bg-danger text-light"><span class="fw-bold"> {{districtWiseBottomFiveGraph?.notFound}} :
            </span> Schools data not found</p>
    </div>

    <div class="column" *ngIf="!zoneModel && districtModel">
        <h5 class="header-bg p-2">Zone wise top 5 attendance</h5>
        <apx-chart [series]="zoneWiseTopFiveGraph?.series" [chart]="zoneWiseTopFiveGraph?.chart"
            [dataLabels]="zoneWiseTopFiveGraph?.dataLabels" [plotOptions]="zoneWiseTopFiveGraph?.plotOptions"
            [responsive]="zoneWiseTopFiveGraph?.responsive" [xaxis]="zoneWiseTopFiveGraph?.xaxis"
            [legend]="zoneWiseTopFiveGraph?.legend" [fill]="zoneWiseTopFiveGraph?.fill"
            [colors]="zoneWiseTopFiveGraph?.colors"></apx-chart>
        <p class="text-center bg-danger text-light"><span class="fw-bold"> {{zoneWiseTopFiveGraph?.notFound}} :
            </span> Schools data not found</p>
    </div>

    <div class="column" *ngIf="!zoneModel && districtModel">
        <h5 class="header-bg p-2">Zone wise bottom 5 attendance</h5>
        <apx-chart [series]="zoneWiseBottomFiveGraph?.series" [chart]="zoneWiseBottomFiveGraph?.chart"
            [dataLabels]="zoneWiseBottomFiveGraph?.dataLabels" [plotOptions]="zoneWiseBottomFiveGraph?.plotOptions"
            [responsive]="zoneWiseBottomFiveGraph?.responsive" [xaxis]="zoneWiseBottomFiveGraph?.xaxis"
            [legend]="zoneWiseBottomFiveGraph?.legend" [fill]="zoneWiseBottomFiveGraph?.fill"
            [colors]="zoneWiseBottomFiveGraph?.colors"></apx-chart>
        <p class="text-center bg-danger text-light"><span class="fw-bold"> {{zoneWiseBottomFiveGraph?.notFound}} :
            </span> Schools data not found</p>
    </div>

    <div class="column" *ngIf="zoneModel">
        <h5 class="header-bg p-2">School wise top 5 attendance</h5>
        <apx-chart [series]="schoolWiseTopFiveGraph?.series" [chart]="schoolWiseTopFiveGraph?.chart"
            [dataLabels]="schoolWiseTopFiveGraph?.dataLabels" [plotOptions]="schoolWiseTopFiveGraph?.plotOptions"
            [responsive]="schoolWiseTopFiveGraph?.responsive" [xaxis]="schoolWiseTopFiveGraph?.xaxis"
            [legend]="schoolWiseTopFiveGraph?.legend" [fill]="schoolWiseTopFiveGraph?.fill"
            [colors]="schoolWiseTopFiveGraph?.colors"></apx-chart>
        <p class="text-center bg-danger text-light"><span class="fw-bold"> {{schoolWiseTopFiveGraph?.notFound}} :
            </span> Schools data not found</p>
    </div>

    <div class="column" *ngIf="zoneModel">
        <h5 class="header-bg p-2">School wise bottom 5 attendance</h5>
        <apx-chart [series]="schoolWiseBottomFiveGraph?.series" [chart]="schoolWiseBottomFiveGraph?.chart"
            [dataLabels]="schoolWiseBottomFiveGraph?.dataLabels" [plotOptions]="schoolWiseBottomFiveGraph?.plotOptions"
            [responsive]="schoolWiseBottomFiveGraph?.responsive" [xaxis]="schoolWiseBottomFiveGraph?.xaxis"
            [legend]="schoolWiseBottomFiveGraph?.legend" [fill]="schoolWiseBottomFiveGraph?.fill"
            [colors]="schoolWiseBottomFiveGraph?.colors"></apx-chart>
        <p class="text-center bg-danger text-light"><span class="fw-bold"> {{schoolWiseBottomFiveGraph?.notFound}} :
            </span> Schools data not found</p>
    </div>

</div>

<!-- Button trigger modal -->
<button #openModal data-bs-toggle="modal" class="d-none" data-bs-target="#exampleModal"
    (click)="getAttendanceStatusCountClick(true)">

</button>

<!--  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #b3d64d;">
                <h5 class="modal-title" id="exampleModalLabel">Attendance Status Wise Details By
                    {{attendanceStatusCount?.labels[indexNoConfig]}} </h5>
                <button class="btn text-center text-danger ms-3"
                    (click)="downloadExcel(allSchoolAttendanceStatus)"
                    data-toggle="tooltip" data-placement="top" title="Download">
                    <i class="bi bi-box-arrow-in-down h2"></i>
                </button>
                <button type="button" (click)="searchBox = ''" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3 w-50">
                    <span class="input-group-text" id="basic-addon1">🔍</span>
                    <input class="form-control" type="search" [(ngModel)]="searchBox" placeholder="Search by name..."
                        value="" id="example-search-input">
                </div>
                <div class="table-responsive">
                    <table class="table table-responsive table-hover table-bordered table-striped"
                        *ngIf="allSchoolAttendance && allSchoolAttendance.length > 0">
                        <thead class="thead-light">
                            <tr class="table-bordered ">
                                <th>Sr No</th>
                                <th>Student ID</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Class</th>
                                <th>Section</th>
                                <th>Shift</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of allSchoolAttendance | search:searchBox;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{data.Student_ID}}</td>
                                <td>{{data.Student_Name}}</td>
                                <td>{{data.Gender}}</td>
                                <td>{{data.CLASS}}</td>
                                <td>{{data.section}}</td>
                                <td>{{data.shift}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-responsive table-hover table-bordered table-striped"
                        *ngIf="allSchoolAttendanceStatus && allSchoolAttendanceStatus.length > 0">
                        <thead class="thead-light">
                            <tr class="table-bordered ">
                                <th>Sr No</th>
                                <th>School Id</th>
                                <th>School</th>
                                <th>Shift</th>
                                <th>Date</th>
                                <th>Attendance Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of allSchoolAttendanceStatus | search:searchBox;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{data.School_ID}}</td>
                                <td>{{data.school_name}}</td>
                                <td>{{data.shift}}</td>
                                <td>{{data.attendance_DATE | date: 'dd MMM yyyy'}}</td>
                                <td>{{data.attendanceStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>