/* Background circles end */

.container-fluid .card {
  position: relative;
  /* height: 270px; */
  width: 450px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-1 {
  background-color: blue;
  border-radius: 5px;
}

.card-2 {
  background-color: rgb(204, 50, 50);
  border-radius: 5px;
}

.card-3 {
  background-color: rgb(55, 204, 50);
  border-radius: 5px;
}

.card-4 {
  background-color: rgb(224, 182, 41);
  border-radius: 5px;
}

.ring {
  position: absolute;
  /* All items inside card should have absolute position */
}

/* The two rings on the card background */
.ring {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: transparent;
  border: 50px solid rgba(255, 255, 255, 0.3);
  bottom: -250px;
  right: -250px;
  box-sizing: border-box;
}

.ring::after {
  content: "";
  position: absolute;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: transparent;
  border: 30px solid rgba(255, 255, 255, 0.3);
  bottom: -80px;
  right: -110px;
  box-sizing: border-box;
}

.tabs-card {
  background-color: #f0f1f7;
}

.form-select {
  height: 50px !important;
  color: gray;
}

.card-group .bi {
  position: absolute;
  left: 20px;
  font-size: 50px;
}