<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
<div class="d-flex mt-3 filter-box">
    <h2 class="fw-bold mb-0 p-1">SCHOOL</h2>
    <div class="vr mx-3 opacity-100"></div>
    <select class="form-select w-25 ms-2" [(ngModel)]="districtModel" (change)="getGraphsByDistrictName()">
        <option value="">All Districts</option>
        <option *ngFor="let district of allDistricts" value="{{district.districtName}}">
            {{district.districtName}} ({{district.D_ID}})
        </option>
    </select>
    <select class="form-select w-25 ms-2" [(ngModel)]="zoneModel" (change)="getGraphsByZone()">
        <option value="" disabled>All Zones</option>
        <option *ngFor="let zone of allZones" value="{{zone.Zone_Name}}">
            {{zone.Zone_Name}} ({{zone.Z_ID}})
        </option>
    </select>
    <select class="form-select w-25 ms-2" [(ngModel)]="schoolModel" (change)="getGraphsBySchoolName()">
        <option value="" disabled>Select Schools</option>
        <option *ngFor="let school of allSchools" value="{{school.Schoolid}}">
            {{school.School_Name}} - ({{school.Schoolid}})
        </option>
    </select>
</div>
<div class="d-flex justify-content-center filter-box mt-2" *ngIf="districtModel || zoneModel || schoolModel">
    <h3 class="text-center mb-0" *ngIf="districtModel">{{districtModel}}&nbsp; </h3>
    <h3 class="text-center mb-0" *ngIf="zoneModel"> <span *ngIf="districtModel">|</span> {{zoneModel}}&nbsp; </h3>
    <h3 class="text-center mb-0" *ngIf="schoolModel"> <span *ngIf="zoneModel || districtModel">|</span> {{schoolModel}}
    </h3>
</div>
<div class="container1">
    <div class="column">
        <h5 *ngIf="!districtModel" class="header-bg p-2 m-2">Delhi</h5>
        <h5 *ngIf="districtModel" class="header-bg p-2 m-2">{{districtModel}}</h5>
        <div class="d-flex justify-content-around mt-4">
            <img class="ms-2" src="../../../assets/images/Dashboard/school1.png" style="height: 100px;" alt="">
            <div class="d-block ms-1 text-center">
                <h1 class="fw-bold">{{totalSchools}}</h1>
                <h3>Total schools</h3>
            </div>
        </div>
        <div class="d-flex justify-content-around text-center" style="position: absolute; bottom: 25px;left: 25px;">
            <div>
                <h3 class="fw-bold">{{averageTeacherOfSchool}}</h3>
                <h5>Average Teachers</h5>
            </div>
            <div class="vr mx-3"></div>
            <div>
                <h3 class="fw-bold">{{averageStudentOfSchool}}</h3>
                <h5>Average Students</h5>
            </div>
        </div>
    </div>
    <div class="column text-center">
        <h5 class="header-bg p-2 m-2">Student & Teacher Ratio</h5>
        <img class="img-fluid mt-4" width="180" src="../../../assets/images/pngegg.png">
        <h5 class="mt-5">{{teachersRatio | number: '1.0-0'}} : 1 Teacher</h5>
    </div>

    <div class="column">
        <h5 class="header-bg p-2 m-2">Students Gender Ratio</h5>
        <apx-chart [series]="studentsGenderRatio?.series" [chart]="studentsGenderRatio?.chart"
            [labels]="studentsGenderRatio?.labels" [fill]="studentsGenderRatio?.fill"
            [dataLabels]="studentsGenderRatio?.dataLabels" [plotOptions]="studentsGenderRatio?.plotOptions"
            [responsive]="studentsGenderRatio?.responsive" [legend]="studentsGenderRatio?.legend"
            [colors]="studentsGenderRatio?.colors"></apx-chart>
    </div>
    <div class="column">
        <h5 class="header-bg p-2 m-2">Teachers Gender Ratio</h5>
        <apx-chart [series]="teacherGenderRatio?.series" [chart]="teacherGenderRatio?.chart"
            [labels]="teacherGenderRatio?.labels" [fill]="teacherGenderRatio?.fill"
            [dataLabels]="teacherGenderRatio?.dataLabels" [plotOptions]="teacherGenderRatio?.plotOptions"
            [responsive]="teacherGenderRatio?.responsive" [legend]="teacherGenderRatio?.legend"
            [colors]="teacherGenderRatio?.colors"></apx-chart>
    </div>
    <div class="column">
        <h5 class="header-bg p-2 m-2">Schools By Management</h5>
        <apx-chart [series]="schoolsByManagement?.series" [chart]="schoolsByManagement?.chart"
            [labels]="schoolsByManagement?.labels" [fill]="schoolsByManagement?.fill"
            [dataLabels]="schoolsByManagement?.dataLabels" [plotOptions]="schoolsByManagement?.plotOptions"
            [responsive]="schoolsByManagement?.responsive" [legend]="schoolsByManagement?.legend"
            [colors]="schoolsByManagement?.colors"></apx-chart>
    </div>
    <div class="column">
        <h5 class="header-bg p-2 m-2">Shift wise Schools</h5>
        <apx-chart [series]="shiftWiseSchools?.series" [chart]="shiftWiseSchools?.chart"
            [labels]="shiftWiseSchools?.labels" [fill]="shiftWiseSchools?.fill" [stroke]="shiftWiseSchools?.stroke"
            [responsive]="shiftWiseSchools?.responsive" [legend]="shiftWiseSchools?.legend"
            [colors]="shiftWiseSchools?.colors" [yaxis]="shiftWiseSchools?.yaxis"></apx-chart>
    </div>
    <div class="column">
        <h5 class="header-bg p-2 m-2">Types of schools</h5>
        <apx-chart [series]="typesOfSchools?.series" [chart]="typesOfSchools?.chart" [labels]="typesOfSchools?.labels"
            [fill]="typesOfSchools?.fill" [stroke]="typesOfSchools?.stroke" [responsive]="typesOfSchools?.responsive"
            [colors]="typesOfSchools?.colors" [legend]="typesOfSchools?.legend"
            [yaxis]="shiftWiseSchools?.yaxis"></apx-chart>
    </div>
    <!-- <div class="column">
        <h5 class="header-bg p-2 m-2">Schools by minority</h5>
        <apx-chart [series]="minorityCount?.series" [chart]="minorityCount?.chart" [labels]="minorityCount?.labels"
            [fill]="minorityCount?.fill" [dataLabels]="minorityCount?.dataLabels"
            [plotOptions]="minorityCount?.plotOptions" [responsive]="minorityCount?.responsive"
            [legend]="minorityCount?.legend"></apx-chart>
    </div>
    <div class="column">
        <h5 class="header-bg p-2 m-2">Schools by Affiliation</h5>
        <apx-chart [series]="affiliationCount?.series" [chart]="affiliationCount?.chart"
            [labels]="affiliationCount?.labels" [fill]="affiliationCount?.fill"
            [dataLabels]="affiliationCount?.dataLabels" [plotOptions]="affiliationCount?.plotOptions"
            [responsive]="affiliationCount?.responsive" [legend]="affiliationCount?.legend"
            [colors]="affiliationCount?.colors"></apx-chart>
    </div>
    <div class="column" style="height: auto;">
        <h5 class="header-bg p-2 m-2">Schools by stream</h5>
        <apx-chart [series]="streamCount?.series" [chart]="streamCount?.chart" [dataLabels]="streamCount?.dataLabels"
            [plotOptions]="streamCount?.plotOptions" [xaxis]="streamCount?.xaxis" [yaxis]="streamCount?.yaxis"
            [fill]="streamCount?.fill" [colors]="streamCount?.colors"></apx-chart>
    </div> -->
</div>