<h2 class="text-center">East Delhi District</h2>
<hr>
<div class="d-flex">
    <div class="col-md-4 p-1 graph">
        <iframe title="Central District"
            src="https://app.powerbi.com/reportEmbed?reportId=763b06bf-1d30-4c4a-a2ea-8742d863261c&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-md-8 p-1">
        <div class="container1">
            <div class="column">
                <h5 class="bg-light p-2 m-2">Number of Schools</h5>
                <iframe title="No of Schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=88db6049-2c60-491d-b1d4-8ebd3ff5134f&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Types of Schools</h5>
                <iframe class="pt-3" title="Type of schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=6b4b85c7-1568-4033-8c5b-8bbaddbd5418&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Shifts</h5>
                <iframe title="Schools by Shifts"
                    src="https://app.powerbi.com/reportEmbed?reportId=7719cafd-be05-48cc-b415-94e392173696&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Streams</h5>
                <iframe title="Schools by Streams"
                    src="https://app.powerbi.com/reportEmbed?reportId=01807499-4f62-4067-81be-0cce0e7e1ea7&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Minority</h5>
                <iframe title="Schools by Minority"
                    src="https://app.powerbi.com/reportEmbed?reportId=d836f270-c67c-4f1f-8aea-1a532b6f14fb&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by high classes</h5>
                <iframe title="Schools by high classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=59ff9ca9-2deb-4a9d-828a-78eb030be06a&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by low classes</h5>
                <iframe title="Schools by low classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=a58ed58f-c7f8-4262-83ea-07dae0810a93&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Affiliation</h5>
                <iframe title="Schools by Affiliation"
                    src="https://app.powerbi.com/reportEmbed?reportId=9acd3e29-ec26-4265-a040-225a94cd58f2&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Management</h5>
                <iframe title="Schools by Management"
                    src="https://app.powerbi.com/reportEmbed?reportId=e20ddbfe-43cb-48cb-9c0d-208f50f0eb71&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Category</h5>
                <iframe title="Schools by Category"
                    src="https://app.powerbi.com/reportEmbed?reportId=b0dc68e4-f9e1-449e-a593-bc0913f37be7&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>