<!-- dropdown -->
<div class="filter-box">
    <div class="filter-box" [ngClass]="communicationServiceMobile ? 'd-block' : 'd-flex'">
        <input class="form-control w-25 ms-auto" type="text" [(ngModel)]="SearchBox" placeholder="School Id" value=""
            id="example-search-input">
        <button class="btn btn-success mx-2" (click)="searchSchool()">Search</button>
    </div>

    <div class="mt-5 table-container" style="overflow-x: auto; width: 90vw; height: 99vh;" *ngIf="allSchoolData && allSchoolData.length > 0">
        <table class="table table-striped table-hover" style="min-width: 1200px;">
            <!-- Setting min-width to maintain the width of the table -->
            <thead class="sticky-top top-0">
                <tr class="table-success">
                    <!-- <th>S.No</th> -->
                    <th>Year</th>
                    <th>Class</th>
                    <th>Phase</th>
                    <th>English Absent</th>
                    <th>English Advance Story</th>
                    <th>English Beginner</th>
                    <th>English Charecter</th>
                    <th>English Paragraph</th>
                    <th>English Story</th>
                    <th>English Words</th>
                    <th>Hindi Absent</th>
                    <th>Hindi Advance Story</th>
                    <th>Hindi Beginner</th>
                    <th>Hindi Charecter</th>
                    <th>Hindi Paragraph</th>
                    <th>Hindi Story</th>
                    <th>Hindi Words</th>
                    <th>Maths Absent</th>
                    <th>Maths Beginner</th>
                    <th>Maths Division</th>
                    <th>Maths Subtraction</th>
                    <th>No. recog (0-9)</th>
                    <th>No. recog (10-99)</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let data of allSchoolData">
                    <!-- <td>{{i+1}}</td> -->
                    <td>{{data?.Year}}</td>
                    <td>{{data?.class}}</td>
                    <td>{{data?.Phase}}</td>
                    <td>{{data?.English_Absent}}</td>
                    <td>{{data?.English_Advance_Story}}</td>
                    <td>{{data?.English_Beginner}}</td>
                    <td>{{data?.English_Charecter}}</td>
                    <td>{{data?.English_Paragraph}}</td>
                    <td>{{data?.English_Story}}</td>
                    <td>{{data?.English_Words}}</td>
                    <td>{{data?.Hindi_Absent}}</td>
                    <td>{{data?.Hindi_Advance_Story}}</td>
                    <td>{{data?.Hindi_Beginner}}</td>
                    <td>{{data?.Hindi_Charecter}}</td>
                    <td>{{data?.Hindi_Paragraph}}</td>
                    <td>{{data?.Hindi_Story}}</td>
                    <td>{{data?.Hindi_Words}}</td>
                    <td>{{data?.Maths_Absent}}</td>
                    <td>{{data?.Maths_Beginner}}</td>
                    <td>{{data?.Maths_Division}}</td>
                    <td>{{data?.Maths_Subtraction}}</td>
                    <td>{{data?.['No. recog (0-9)']}}</td>
                    <td>{{data?.['No. recog (10-99)']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bg-primary m-4" *ngIf="allSchoolData && allSchoolData.length <= 0">
        <h2 class="text-center text-white fst-italic p-2">Please Search School Id...</h2>
      </div>
</div>