<h2 class="text-center">South Delhi District</h2>
<hr>
<div class="d-flex">
    <div class="col-md-4 p-1 graph">
        <iframe title="Central District"
            src="https://app.powerbi.com/reportEmbed?reportId=763b06bf-1d30-4c4a-a2ea-8742d863261c&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-md-8 p-1">
        <div class="container1">
            <div class="column">
                <h5 class="bg-light p-2 m-2">Number of Schools</h5>
                <iframe title="No of Schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=8c8262e9-7e3b-4dcc-bbf0-caec220c4c6a&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Types of Schools</h5>
                <iframe class="pt-3" title="Type of schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=d20c4100-e23e-411a-a401-3b47ea6c99ba&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Shifts</h5>
                <!-- <iframe title="Schools by Shifts"
                    src="https://app.powerbi.com/reportEmbed?reportId=7719cafd-be05-48cc-b415-94e392173696&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe> -->
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Streams</h5>
                <!-- <iframe title="Schools by Streams"
                    src="https://app.powerbi.com/reportEmbed?reportId=01807499-4f62-4067-81be-0cce0e7e1ea7&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe> -->
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Minority</h5>
                <iframe title="Schools by Minority"
                    src="https://app.powerbi.com/reportEmbed?reportId=32844444-f973-4cec-9dcc-4bc1714e185d&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by high classes</h5>
                <iframe title="Schools by high classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=0c8fe578-e2ef-4cd6-aff4-1fedde4277af&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by low classes</h5>
                <iframe title="Schools by low classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=a79d3e89-f3d7-46e2-8b18-283d6197614d&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Affiliation</h5>
                <iframe title="Schools by Affiliation"
                    src="https://app.powerbi.com/reportEmbed?reportId=2f54585e-95e5-4ce9-b91c-e1881993f034&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Management</h5>
                <iframe title="Schools by Management"
                    src="https://app.powerbi.com/reportEmbed?reportId=088b1637-9a52-4283-8a2e-c2208eea3871&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Category</h5>
                <!-- <iframe title="Schools by Category"
                    src="https://app.powerbi.com/reportEmbed?reportId=b0dc68e4-f9e1-449e-a593-bc0913f37be7&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe> -->
            </div>
        </div>
    </div>
</div>