<!-- <div class="mt-2 filter-box-guest" [ngClass]="communicationServiceMobile ? 'd-block' : 'd-flex'">
    <h2 class="fw-bold">GUEST</h2>
    <div class="vr mx-3 opacity-100" [ngClass]="communicationServiceMobile ? 'd-none' : 'd-block'"></div>
    <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'"
        [(ngModel)]="districtModel" (change)="getGraphsByDistrictName()">
        <option value="">All Districts</option>
        <option *ngFor="let district of allDistricts" value="{{district.districtName}}">
            {{district.districtName}} ({{district.D_ID}})
        </option>
    </select>
    <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'"
        [(ngModel)]="zoneModel" (change)="getGraphsByZone()">
        <option value="">All Zones</option>
        <option *ngFor="let zone of allZones" value="{{zone.Zone_Name}}">
            {{zone.Zone_Name}} ({{zone.Z_ID}})
        </option>
    </select>
    <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'"
        [(ngModel)]="schoolModel" (change)="getGraphsBySchoolName()">
        <option value="" disabled>All School</option>
        <option *ngFor="let school of allSchools" [ngValue]="school">
            {{school.School_Name}} - ({{school.Schoolid}})
        </option>
    </select>
</div> -->

<app-role-wise-dropdown [allDistricts]="allDistricts" [allZones]="allZones" [allSchools]="allSchools"
    (selectedDistrict)="selectedDistrictEmit($event)" (selectedZone)="selectedZoneEmit($event)"
    (selectedSchool)="selectedSchoolEmit($event)"></app-role-wise-dropdown>

<div class="d-flex justify-content-center filter-box-guest mt-2"
    *ngIf="districtModel || zoneModel || schoolModel.School_Name">
    <h3 class="text-center mb-0" *ngIf="districtModel">{{districtModel}}&nbsp; </h3>
    <h3 class="text-center mb-0" *ngIf="zoneModel"> <span *ngIf="districtModel">|</span> {{zoneModel}}&nbsp; </h3>
    <h3 class="text-center mb-0" *ngIf="schoolModel.School_Name"> <span *ngIf="zoneModel || districtModel">|</span>
        {{schoolModel.School_Name}}
    </h3>
</div>

<div class="input-group float-end mt-2 me-2" style="width: 300px;">
    <input class="form-control" type="search" [(ngModel)]="globalSearchBox" placeholder="Search teacher..." value=""
        id="example-search-input" (search)="search()">
    <span class="input-group-text" role="button" id="basic-addon1" (click)="searchTeacher()">🔍</span>
    <span class="search-filter-box bg-white w-100" *ngIf="globalSearchBox">
        <div class="d-flex justify-content-center" *ngIf="searchLoader">
            <div class="spinner-border m-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="data-panel" *ngIf="teacherSearchData && teacherSearchData.length > 0">
            <p class="mb-0 p-1 ps-2" *ngFor="let data of teacherSearchData" (click)="viewProfileDetails(data)"
                data-bs-toggle="modal" data-bs-target="#staticBackdropGuest">{{data.Name}}</p>
        </div>
    </span>
</div>

<div class="container1">
    <div class="column">
        <h5 class="header-bg p-2">Total Teacher</h5>
        <div class="d-flex justify-content-around mt-4" (click)="getTachersBySchoolName()">
            <img class="ms-2" src="../../../assets/images/Dashboard/teacher.png" style="height: 100px;" alt="">
            <div class="d-block ms-1 text-center">
                <h1 class="fw-bold">{{allData?.totalGuestTeacher}}</h1>
                <h3>Total Teacher</h3>
            </div>
        </div>
        <div class="d-flex justify-content-around text-center ratio-data-Guest">
            <div style="width: 45%;">
                <h1 class="fw-bold">{{allData?.totalSchool}}</h1>
                <h5>Total School</h5>
            </div>
            <div class="vr mx-3"></div>
            <div style="width: 45%;">
                <h1 class="fw-bold">{{allData?.averageTeachers?.toFixed(1)}}</h1>
                <h5>Average Teacher</h5>
            </div>
        </div>
    </div>

    <!-- <div class="column text-center">
        <h5 class="header-bg p-2">Studying Student & Teacher Ratio</h5>
        <img class="img-fluid mt-5" width="120" src="../../../assets/images/Dashboard/education.png"><br>
        <h3 class="mt-5 fw-semibold teacher-ratio-count">{{allData?.studentRatio | number: '1.0-0'}} : 1
            Teacher</h3>
    </div> -->

    <!--  -->
    <div class="column">
        <h5 class="header-bg p-2">Shift wise Teacher</h5>
        <apx-chart [series]="shiftWiseSchoolsGuest?.series" [chart]="shiftWiseSchoolsGuest?.chart" [dataLabels]="shiftWiseSchoolsGuest?.dataLabels"
        [plotOptions]="shiftWiseSchoolsGuest?.plotOptions" [xaxis]="shiftWiseSchoolsGuest?.xaxis" [yaxis]="shiftWiseSchoolsGuest?.yaxis"
        [labels]="shiftWiseSchoolsGuest?.labels" [legend]="shiftWiseSchoolsGuest?.legend" [colors]="shiftWiseSchoolsGuest?.colors"
        [grid]="shiftWiseSchoolsGuest?.grid" [title]="shiftWiseSchoolsGuest?.title" [fill]="shiftWiseSchoolsGuest?.fill"></apx-chart>
    </div>
    <!--  -->
    <!-- <div class="column">
        <h5 class="header-bg p-2">Schools Management Wise Teacher</h5>
        <apx-chart [series]="schoolsManagementWiseTeacherGuest?.series"
            [chart]="schoolsManagementWiseTeacherGuest?.chart" [labels]="schoolsManagementWiseTeacherGuest?.labels"
            [fill]="schoolsManagementWiseTeacherGuest?.fill" [colors]="schoolsManagementWiseTeacherGuest?.colors"
            [dataLabels]="schoolsManagementWiseTeacherGuest?.dataLabels"
            [plotOptions]="schoolsManagementWiseTeacherGuest?.plotOptions"
            [responsive]="schoolsManagementWiseTeacherGuest?.responsive"
            [legend]="schoolsManagementWiseTeacherGuest?.legend"
            [tooltip]="schoolsManagementWiseTeacherGuest?.tooltip"></apx-chart>
    </div> -->

    <!--  -->
    <div class="column">
        <h5 class="header-bg p-2">Schools Type Wise Teacher</h5>
        <apx-chart [series]="schoolTypeWiseCount?.series" [chart]="schoolTypeWiseCount?.chart" [dataLabels]="schoolTypeWiseCount?.dataLabels"
            [plotOptions]="schoolTypeWiseCount?.plotOptions" [xaxis]="schoolTypeWiseCount?.xaxis" [yaxis]="schoolTypeWiseCount?.yaxis"
            [labels]="schoolTypeWiseCount?.labels" [legend]="schoolTypeWiseCount?.legend" [colors]="schoolTypeWiseCount?.colors"
            [grid]="schoolTypeWiseCount?.grid" [title]="schoolTypeWiseCount?.title" [fill]="schoolTypeWiseCount?.fill"></apx-chart>
    </div>

    <div class="column" [ngClass]="communicationServiceMobile ? '' : 'wide-height'" style="height: auto;">
    <!-- <div class="column" [ngClass]="communicationServiceMobile ? '' : 'wide'"> -->
        <h5 class="header-bg p-2">Designation wise Teacher</h5>
        <apx-chart [series]="designationGuest?.series" [chart]="designationGuest?.chart"
            [dataLabels]="designationGuest?.dataLabels" [plotOptions]="designationGuest?.plotOptions"
            [xaxis]="designationGuest?.xaxis" [yaxis]="designationGuest?.yaxis" [labels]="designationGuest?.labels"
            [legend]="designationGuest?.legend" [colors]="designationGuest?.colors" [grid]="designationGuest?.grid"
            [fill]="designationGuest?.fill"></apx-chart>
    </div>

    <div class="column">
        <h5 class="header-bg p-2">Schools Category Wise Teacher</h5>
        <apx-chart [series]="teacherCategoryGuest?.series" [chart]="teacherCategoryGuest?.chart"
            [dataLabels]="teacherCategoryGuest?.dataLabels" [plotOptions]="teacherCategoryGuest?.plotOptions"
            [xaxis]="teacherCategoryGuest?.xaxis" [yaxis]="teacherCategoryGuest?.yaxis"
            [colors]="teacherCategoryGuest?.colors" [title]="teacherCategoryGuest?.title"
            [legend]="teacherCategoryGuest?.legend" [fill]="teacherCategoryGuest?.fill"></apx-chart>
    </div>
   

</div>

<!-- Button trigger modal -->
<button #openModalGuest data-bs-toggle="modal" class="d-none" data-bs-target="#exampleModal1" data-bs-backdrop="static"
    (click)="getTeachersByDesignation(true)">

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-auto" *ngIf="configDesignation == 0 || configDesignation"
                    id="exampleModalLabel1">
                    Guest Teacher Details By Designation:
                    ({{allData.postdescWiseTeacherCounts[configDesignation]._id}}) </h5>
                <h5 class="modal-title m-auto" *ngIf="schoolModel" id="exampleModalLabel1">
                    Guest Teacher Details By School:
                    ({{schoolModel.School_Name}}) </h5>
                <div class="dropdown">
                    <span class="text-danger m-2"><img src="../../../assets/images/icons/downloads.png" width="25px"
                            alt=""></span>
                    <div class="dropdown-content">
                        <button class="btn" (click)="exportToCSV()"><i class="bi bi-filetype-csv h2 text-warning"></i>
                            CSV</button>
                        <button class="btn" (click)="exportToExcel()"><i
                                class="bi bi-file-earmark-excel h2 text-success"></i>
                            Excel</button>
                        <button class="btn" value="CPTURE" (click)="pdf.saveAs('Guest Teacher data.pdf')"><i
                                class="bi bi-filetype-pdf h2 text-danger"></i>PDF</button>
                    </div>
                </div>
                <!--  -->
                <button type="button" (click)="searchBox = ''" class="btn-close m-2" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3 w-50">
                    <span class="input-group-text" id="basic-addon1">🔍</span>
                    <input class="form-control" type="search" [(ngModel)]="searchBox" placeholder="Search by name..."
                        value="" id="example-search-input">
                </div>
                <kendo-pdf-export #pdf paperSize="A3">
                    <div class="table-responsive">
                        <table class="table table-responsive table-hover table-bordered table-striped"
                            id="contentToConvert">
                            <thead class="thead-light">
                                <tr class="table-bordered ">
                                    <th>Sr No</th>
                                    <th>Name</th>
                                    <th>Mob. No</th>
                                    <th>Application Id</th>
                                    <th>School</th>
                                    <th>Designation</th>
                                    <th>District</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of allTeacherData | search:searchBox;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{data.Name}}</td>
                                    <td>{{data.MobileNo}}</td>
                                    <td>{{data.ApplicationId}}</td>
                                    <td>{{data.SchoolName}}</td>
                                    <td>{{data.Post}}</td>
                                    <td>{{data.Districtname}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </kendo-pdf-export>
            </div>

        </div>
    </div>
</div>

<!-- View profile -->
<div class="modal fade" id="staticBackdropGuest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">View profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="d-flex align-items-center">
                            <img class="img-fluid mb-2" width="90" src="../../../assets/images/icons/user.png">
                            <h4 class="fw-bold ms-2">{{profileDetails?.Name}}</h4>
                        </div>
                        <h6>Application ID :<span class="float-end"> {{profileDetails?.ApplicationId}}</span></h6>
                        <!-- <h6>Date of birth :<span class="float-end"> {{profileDetails?.dob}}</span></h6> -->
                        <!-- <h6>Gender :<span class="float-end"> {{profileDetails?.gender}}</span></h6> -->
                        <h6>Mobile No :<span class="float-end"> {{profileDetails?.MobileNo}}</span></h6>
                    </div>
                    <div class="col-md-1 text-center pb-3">
                        <div class="vr h-100"></div>
                    </div>
                    <div class="col-md-6">
                        <!-- <h6>Joining date : <span class="float-end"> {{profileDetails?.JoiningDate}}</span></h6> -->
                        <h6>Designation :<span class="float-end"> {{profileDetails?.Post}}</span></h6>
                        <h6>School ID :<span class="float-end"> {{profileDetails?.SchoolID}}</span></h6>
                        <h6>School name :<span class="float-end"> {{profileDetails?.SchoolName}}</span></h6>
                        <h6>Zone :<span class="float-end"> Zone - {{profileDetails?.Zonename}}</span></h6>
                        <h6>District :<span class="float-end"> {{profileDetails?.Districtname}}</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>