<h2 class="text-center">South East Delhi District</h2>
<hr>
<div class="d-flex">
    <div class="col-md-4 p-1 graph">
        <iframe title="Central District"
            src="https://app.powerbi.com/reportEmbed?reportId=763b06bf-1d30-4c4a-a2ea-8742d863261c&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-md-8 p-1">
        <div class="container1">
            <div class="column">
                <h5 class="bg-light p-2 m-2">Number of Schools</h5>
                <iframe title="No of Schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=8cb7b252-476c-45cb-a9c7-37929ffee09d&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Types of Schools</h5>
                <iframe class="pt-3" title="Type of schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=fcb9b1b8-09d2-454a-8dd0-bded0e8d5026&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Shifts</h5>
                <iframe title="Schools by Shifts"
                    src="https://app.powerbi.com/reportEmbed?reportId=e9722a66-9a93-4255-bbda-3f9590ecea45&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Streams</h5>
                <iframe title="Schools by Streams"
                    src="https://app.powerbi.com/reportEmbed?reportId=7d5267b5-5982-4363-9a1c-200e6fbb712a&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Minority</h5>
                <iframe title="Schools by Minority"
                    src="https://app.powerbi.com/reportEmbed?reportId=c484d833-cd10-4be9-ba88-dc9c889b5fe4&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by high classes</h5>
                <iframe title="Schools by high classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=9adf1e40-deab-41f3-80d1-57e416a7ab16&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by low classes</h5>
                <iframe title="Schools by low classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=53f6b8c0-e054-4c4d-a251-ad25bf15f9c4&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Affiliation</h5>
                <iframe title="Schools by Affiliation"
                    src="https://app.powerbi.com/reportEmbed?reportId=341f0c80-172d-45de-98da-710d625189c3&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Management</h5>
                <iframe title="Schools by Management"
                    src="https://app.powerbi.com/reportEmbed?reportId=f34ec2a7-68dc-4b19-b039-a798f57faf70&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Category</h5>
                <iframe title="Schools by Category"
                    src="https://app.powerbi.com/reportEmbed?reportId=2d6baca3-927a-4dfa-8928-23fba92db4cb&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>