<div class="filter-box mt-3">
    <h3>Technology Enabled Learning Initiatives during COVID</h3>
</div>
<div class="filter-box mt-3" [ngClass]="communicationServiceMobile ? 'd-block' : 'd-flex'">
    <!-- <h2 class="fw-bold mb-0 p-1">School</h2>
    <div class="vr mx-3 opacity-100" [ngClass]="communicationServiceMobile ? 'd-none' : 'd-block'"></div> -->
    <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" >
        <option value="">CLASS</option>
    </select>
    <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" >
        <option value="">SECTION</option>
    </select>
    <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" >
        <option value="" >SUBJECT</option>
    </select>
</div>
<div class="position-absolute bottom-0 end-0">
    <h2 class="fst-italic">Data Will be Added After Sometime..</h2>
</div>