<!-- <iframe title="excledata" *ngIf="graphName == '1'"
    src="https://app.powerbi.com/reportEmbed?reportId=445f63f3-2173-4d67-ad80-cc913f1ca463&autoAuth=true&ctid=596c677a-db5b-4aca-a7dd-5e30186dde7e"
    frameborder="0" allowFullScreen="true"></iframe> -->

<object *ngIf="graphName =='1'" data="https://app.powerbi.com/reportEmbed?reportId=bf377e08-3ef7-4b29-a908-bdd8baee909b&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d"
    type="text/html">
    Alternative Content
</object>


<object *ngIf="graphName =='2'" data="https://app.powerbi.com/reportEmbed?reportId=d58c80a9-9b50-4d61-8145-30846c7b81b8&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d"
    type="text/html">
    Alternative Content
</object> 


<object *ngIf="graphName =='3'" data="https://app.powerbi.com/reportEmbed?reportId=735d3769-0dbf-4f77-9610-49fcaa89747f&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d"
    type="text/html">
    Alternative Content
</object> 


<object *ngIf="graphName =='4'" data="https://app.powerbi.com/reportEmbed?reportId=bf5ed903-047e-4e1d-9bee-4088ae31b327&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d"
    type="text/html">
    Alternative Content
</object> 