<h2 class="text-center">North West Delhi District</h2>
<hr>
<div class="d-flex">
    <div class="col-md-4 p-1 graph">
        <iframe title="Central District"
            src="https://app.powerbi.com/reportEmbed?reportId=763b06bf-1d30-4c4a-a2ea-8742d863261c&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-md-8 p-1">
        <div class="container1">
            <div class="column">
                <h5 class="bg-light p-2 m-2">Number of Schools</h5>
                <iframe title="No of Schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=8824ba7c-dfc8-4c7d-9175-c8754d76d680&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Types of Schools</h5>
                <iframe class="pt-3" title="Type of schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=246287a5-5a43-4593-955c-27f806240330&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Shifts</h5>
                <iframe title="Schools by Shifts"
                    src="https://app.powerbi.com/reportEmbed?reportId=439bad11-931e-4c58-84a1-bb50f9b39340&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Streams</h5>
                <iframe title="Schools by Streams"
                    src="https://app.powerbi.com/reportEmbed?reportId=125b7da7-2b05-46c9-93ab-f992e5cd6517&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Minority</h5>
                <iframe title="Schools by Minority"
                    src="https://app.powerbi.com/reportEmbed?reportId=2c96170e-791e-4d55-bee5-1a8c1ec8dcfa&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by high classes</h5>
                <iframe title="Schools by high classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=5964b9c2-a883-4d9b-88c7-b7c6f5cd3019&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by low classes</h5>
                <iframe title="Schools by low classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=6755f9ba-588a-4500-941e-c6812e2a1c40&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Affiliation</h5>
                <iframe title="Schools by Affiliation"
                    src="https://app.powerbi.com/reportEmbed?reportId=2782a8f4-61f1-4a86-9b60-a7e56293da5a&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Management</h5>
                <iframe title="Schools by Management"
                    src="https://app.powerbi.com/reportEmbed?reportId=0f89ac86-5d03-45b5-b665-dcf2e9d0b9e9&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Category</h5>
                <iframe title="Schools by Category"
                    src="https://app.powerbi.com/reportEmbed?reportId=235a3de1-9bf1-426a-862e-ed5e985bd1f2&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>