<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

<div class="d-flex mt-2 mt-4 filter-box">
    <h2 class="fw-bold"> National Achievement Survey (NAS) </h2>
</div>
<div class="d-flex mt-2 filter-box">
    <!-- <div class="vr mx-3 opacity-100"></div> -->
    <select class="form-select w-25 ms-2" [(ngModel)]="gradeModel" (change)="getDataByfilter()">
        <option value="">All Grade</option>
        <option *ngFor="let district of allGrade" value="{{district}}" >
            {{district}}
        </option>
    </select>
    <select class="form-select w-25 ms-2" [(ngModel)]="subjectModel" (change)="getDataByfilter()">
        <option value="">All Subject</option>
        <option *ngFor="let zone of allSubject" value="{{zone}}">
            {{zone}}
        </option>
    </select>
    <!-- <select class="form-select w-25 ms-2" [(ngModel)]="shiftModel">
        <option value="" disabled>Select Shift</option>
        <option *ngFor="let shift of allSubject" value="{{shift}}">
            {{shift}}
        </option>
    </select> -->
</div>

<div class="d-flex justify-content-center filter-box mt-2" *ngIf="gradeModel || subjectModel || shiftModel">
    <h3 class="text-center mb-0" *ngIf="gradeModel && !shiftModel"> {{gradeModel}}&nbsp;
    </h3>
    <h3 class="text-center mb-0" *ngIf="subjectModel && !shiftModel"> <span *ngIf="gradeModel">|</span>
        {{subjectModel}}&nbsp; </h3>
    <h3 class="text-center mb-0" *ngIf="shiftModel"> <span>|</span> {{shiftModel}}</h3>
</div>


<div>

    <div class="table-responsive bg-light mt-4">
        <table class="table  table-borderliness table-product">
            <thead>
                <tr>
                    <th>Outcome</th>
                    <th>Grade</th>
                    <th>Subject</th>
                    <th *ngFor="let data of allDistricts">
                        {{data.district_name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <tr *ngFor="let data of allData;let i = index">
                        <p *ngIf=" i<mostData['Central'].length" >{{data.learning_outcome_code}}</p>
                    </tr>
                </td>
                <td style="width: 100px;">
                    <tr *ngFor="let data of allData;let i = index">
                       <p *ngIf=" i<mostData['Central'].length" > {{data.grade}}</p>
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of allData;let i = index">
                        <p *ngIf=" i<mostData['Central'].length" >{{data.subject}}</p>
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['Central']">
                        <p>{{data.performance | number:'1.1-2' }} </p>
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['South East']">
                      <p> {{data.performance | number:'1.1-2' }}</p>  
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['New Delhi']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['South West A']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['South West B']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['East']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['West B']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['West A']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['North']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['Central']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['North East']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['North West A']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
                <td>
                    <tr *ngFor="let data of mostData['North West B']">
                        <p> {{data.performance | number:'1.1-2' }}</p> 
                    </tr>
                </td>
            </tbody>
        </table>
    </div>

</div>