<ul class="nav nav-pills mb-3 filter-box px-3 mt-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Percentage Enrollnment</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Consumption by
            Districts</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-course-tab" data-bs-toggle="pill" data-bs-target="#pills-course"
            type="button" role="tab" aria-controls="pills-course" aria-selected="false">Consumption by
            Course</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
            type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Course Medium</button>
    </li>
</ul>
<div class="tab-content filter-box" id="pills-tabContent">

    <!-- == 1 == -->
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container1">
            <div class="column">
                <h5 class="header-bg p-2 m-2">Total completions Count </h5>
                <apx-chart [series]="Total_Completions?.series" [chart]="Total_Completions?.chart"
                    [labels]="Total_Completions?.labels" [fill]="Total_Completions?.fill"
                    [responsive]="Total_Completions?.responsive" [legend]="Total_Completions?.legend"
                    [dataLabels]="Total_Completions?.dataLabels"
                    [plotOptions]="Total_Completions?.plotOptions"></apx-chart>
            </div>

            <div class="column">
                <h5 class="header-bg p-2 m-2">Directorate of Education (DoE) </h5>
                <apx-chart [series]="Total_Doe?.series" [chart]="Total_Doe?.chart" [dataLabels]="Total_Doe?.dataLabels"
                    [plotOptions]="Total_Doe?.plotOptions" [yaxis]="Total_Doe?.yaxis" [labels]="Total_Doe?.labels"
                    [legend]="Total_Doe?.legend" [colors]="Total_Doe?.colors" [grid]="Total_Doe?.grid"></apx-chart>
            </div>

            <div class="column">
                <h5 class="header-bg p-2 m-2">Total Courses </h5>
                <apx-chart [series]="Total_Courses?.series" [chart]="Total_Courses?.chart"
                    [labels]="Total_Courses?.labels" [responsive]="Total_Courses?.responsive"
                    [legend]="Total_Courses?.legend"></apx-chart>
            </div>

            <div class="column">
                <h5 class="header-bg p-2 m-2">Total Certificates </h5>
                <apx-chart [series]="Total_certificates?.series" [chart]="Total_certificates?.chart"
                    [labels]="Total_certificates?.labels" [responsive]="Total_certificates?.responsive"
                    [legend]="Total_certificates?.legend" [fill]="Total_certificates?.fill"></apx-chart>
            </div>

            <div class="column">
                <h5 class="header-bg p-2 m-2">Local Body </h5>
                <apx-chart [series]="Total_Local_body?.series" [chart]="Total_Local_body?.chart"
                    [labels]="Total_Local_body?.labels" [responsive]="Total_Local_body?.responsive"
                    [legend]="Total_Local_body?.legend" [fill]="Total_Local_body?.fill"></apx-chart>
            </div>
        </div>
    </div>

    <!-- == 2 == -->
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <h6 class="ms-2">Select District</h6>
        <select class="form-select w-25 ms-2" [(ngModel)]="districtModel" (change)="getGraphsByDistrictName($event)">
            <option value="" disabled>Select District</option>
            <option *ngFor="let district of allDistrictsName" value="{{district}}">
                {{district}}
            </option>
        </select>

        <div class="container1">
            <div class="column">
                <h5 class="header-bg p-2 m-2">Enrollments</h5>
                <apx-chart [series]="totalEnrollments?.series" [chart]="totalEnrollments?.chart"
                    [labels]="totalEnrollments?.labels" [fill]="totalEnrollments?.fill"
                    [dataLabels]="totalEnrollments?.dataLabels" [plotOptions]="totalEnrollments?.plotOptions"
                    [responsive]="totalEnrollments?.responsive" [legend]="totalEnrollments?.legend"></apx-chart>
            </div>

            <div class="column">
                <h5 class="header-bg p-2 m-2">Completions</h5>
                <apx-chart [series]="totalCompletion?.series" [chart]="totalCompletion?.chart"
                    [labels]="totalCompletion?.labels" [fill]="totalCompletion?.fill"
                    [dataLabels]="totalCompletion?.dataLabels" [plotOptions]="totalCompletion?.plotOptions"
                    [responsive]="totalCompletion?.responsive" [legend]="totalCompletion?.legend"></apx-chart>
            </div>

            <div class="column">
                <h5 class="header-bg p-2 m-2">Certifications</h5>
                <apx-chart [series]="totalCertifications?.series" [chart]="totalCertifications?.chart"
                    [labels]="totalCertifications?.labels" [fill]="totalCertifications?.fill"
                    [dataLabels]="totalCertifications?.dataLabels" [plotOptions]="totalCertifications?.plotOptions"
                    [responsive]="totalCertifications?.responsive" [legend]="totalCertifications?.legend"></apx-chart>
            </div>

            <div class="column">
                <h5 class="header-bg p-2 m-2">Certifications Percentage</h5>
                <apx-chart [series]="totalCertificationsPercentage?.series"
                    [chart]="totalCertificationsPercentage?.chart" [labels]="totalCertificationsPercentage?.labels"
                    [fill]="totalCertificationsPercentage?.fill"
                    [dataLabels]="totalCertificationsPercentage?.dataLabels"
                    [plotOptions]="totalCertificationsPercentage?.plotOptions"
                    [responsive]="totalCertificationsPercentage?.responsive"
                    [legend]="totalCertificationsPercentage?.legend"></apx-chart>
            </div>
        </div>
    </div>

    <!-- == 3 == -->
    <div class="tab-pane fade" id="pills-course" role="tabpanel" aria-labelledby="pills-course-tab">
        <h6 class="ms-2">Select District</h6>
        <select class="form-select w-25 ms-2" [(ngModel)]="districtModel" (change)="getGraphsByDistrictName($event)">
            <option value="" disabled>Select District</option>
            <option *ngFor="let district of allDistrictsName" value="{{district}}">
                {{district}}
            </option>
        </select>

        <div class="container1">
            <div class="column">
                <h5 class="header-bg p-2 m-2">Enrollments</h5>
                <apx-chart [series]="totalEnrollments?.series" [chart]="totalEnrollments?.chart"
                    [labels]="totalEnrollments?.labels" [fill]="totalEnrollments?.fill"
                    [dataLabels]="totalEnrollments?.dataLabels" [plotOptions]="totalEnrollments?.plotOptions"
                    [responsive]="totalEnrollments?.responsive" [legend]="totalEnrollments?.legend"></apx-chart>
            </div>
        </div>
    </div>

    <!-- == 4 == -->
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="container1">
            <div class="column">
                <h5 class="header-bg p-2 m-2">Total Courses </h5>
                <apx-chart [series]="Total_CoursesGraph?.series" [chart]="Total_CoursesGraph?.chart"
                    [labels]="Total_CoursesGraph?.labels" [responsive]="Total_CoursesGraph?.responsive"
                    [legend]="Total_CoursesGraph?.legend"></apx-chart>
            </div>


            <div class="column">
                <h5 class="header-bg p-2 m-2">Total Medium </h5>
                <apx-chart [series]="Total_MediumGraph?.series" [chart]="Total_MediumGraph?.chart"
                    [labels]="Total_MediumGraph?.labels" [responsive]="Total_MediumGraph?.responsive"
                    [legend]="Total_MediumGraph?.legend"></apx-chart>
            </div>
        </div>


    </div>

</div>