<div class="wrapper" *ngIf="isLogIn">
  <div class="sidebarMenu" [ngClass]="status ? 'darSideBar' : 'genisSideBar'">

    <div class="sideBarUst text-center pt-3">
      <div class="logo">
        VSK
      </div><br>
    </div>

    <div class="sideBarOrta mt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active" href="#">
            <span class="image-icon">
              <img src="../assets/images/dashboard.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="school" routerLinkActive="active" href="#">
            <span class="image-icon text-center">
              <img src="../assets/images/icons/school-2.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">School</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="teacher" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/icons/teacher-2.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Teacher</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="student" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/icons/graduated-2.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Student</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="nishtha" routerLinkActive="active" href="#">
            <span class="image-icon">
              <img src="../assets/images/NISHTHA-01-01.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">NISHTHA</span>
          </a>
        </li>

        <!-- <li class="nav-item mt-2">
          <a class="nav-link" routerLink="cquib" [queryParams]="{tabName : 'DIKSHA-ETB'}" href="#">
            <span class="image-icon">
              <img src="../assets/images/ETB & E-Content.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">DIKSHA-ETB</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="cquib" [queryParams]="{tabName : 'Micro-Improvements'}" href="#">
            <span class="image-icon">
              <img src="../assets/images/ETB & E-Content.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Micro-Improvements</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="cquib" [queryParams]="{tabName : 'PM POSHAN'}" href="#">
            <span class="image-icon">
              <img src="../assets/images/PM Poshan.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">PM
              POSHAN</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="cquib" [queryParams]="{tabName : 'National Achievement Survey (NAS)'}"
            href="#">
            <span class="image-icon">
              <img src="../assets/images/NAS.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"> NAS</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="cquib" [queryParams]="{tabName : 'UDISE+'}" href="#">
            <span class="image-icon">
              <img src="../assets/images/UDISE.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">
              UDISE+</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="cquib" [queryParams]="{tabName : 'NIPUN Bharat'}" href="#">
            <span class="image-icon">
              <img src="../assets/images/Nipun Bharat Logo-01.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"> NIPUN
              Bharat</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link active d-flex" href="https://ncert.delhivsk.org/#/login">
            <span class="image-icon">
              <img src="../assets/images/Dashboard/cQube_logo.jpg" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">NCERT</span>
          </a>
        </li> -->

      </ul>
    </div>

  </div>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-secondary" (click)="clickEvent() ">
          <i class="bi bi-justify"></i>
        </button>
        <h1 class="text-center">Vidya Samiksha Kendra, Delhi</h1>
        <div class="logo d-flex">
          <img src="../../../assets/images/delhi_board_logo.png">
          <img src="../../../assets/images/vsk_logo.png">
          <img src="../../../assets/images/SSA.png">
          <i class="bi bi-box-arrow-right h2 text-danger" (click)="logout()"></i>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>


  </div>
</div>

<!-- Body content -->
<!-- <router-outlet *ngIf="!isLogIn"></router-outlet> -->
<app-login-page *ngIf="!isLogIn" (loginFlag)="loginFlagFunc($event)"></app-login-page>
<!-- Body content -->