<div class="wrapper" *ngIf="isLogIn">
  <div class="sidebarMenu" [ngClass]="status ? 'darSideBar' : 'genisSideBar'">

    <div class="sideBarUst text-center pt-3">
      <div class="logo">
        VSK
      </div><br>
    </div>

    <div class="sideBarOrta mt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex" routerLink="dashboard" href="#">
            <span class="navIcon"><img src="../assets/images/dashboard.png" alt=""></span>&nbsp;
            <span  [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active d-flex" routerLink="school" href="#">
            <span class="navIcon"><i class="bi bi-house-add-fill"></i></span>
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">School</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="teacher" href="#">
            <span class="navIcon"><i class="bi bi-house-add-fill"></i></span>
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Teacher</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="student" href="#">
            <span class="navIcon"><i class="bi bi-clipboard2-data-fill"></i></span>
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Student</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link d-flex" routerLink="cquib" [queryParams]="{tabName : 'NISHTHA'}" href="#">
            <span class="navIcon"><img src="../assets/images/NISHTHA-01-01.png" style="width: 50px; height: 60px;" alt=""></span>&nbsp;&nbsp; 
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">NISHTHA</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link d-flex" routerLink="cquib" [queryParams]="{tabName : 'DIKSHA-ETB'}" href="#">
            <span class="navIcon mt-2"><img src="../assets/images/ETB & E-Content.png" style="width: 50px; height: 60px;" alt=""></span>&nbsp;&nbsp; 
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">DIKSHA-ETB</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link d-flex" routerLink="cquib" [queryParams]="{tabName : 'Micro-Improvements'}" href="#">
            <span class="navIcon mt-2"><img src="../assets/images/ETB & E-Content.png" style="width: 50px; height: 60px;" alt=""></span>&nbsp;&nbsp; 
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Micro-Improvements</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link d-flex" routerLink="cquib" [queryParams]="{tabName : 'PM POSHAN'}" href="#">
            <span class="navIcon mt-2"><img src="../assets/images/PM Poshan.png" style="width: 50px; height: 45px;" alt=""></span>&nbsp;&nbsp; 
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">PM POSHAN</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link d-flex" routerLink="cquib" [queryParams]="{tabName : 'National Achievement Survey (NAS)'}" href="#">
            <span class="navIcon mt-2"><img src="../assets/images/NAS.png" style="width: 50px; height: 45px;" alt=""></span>&nbsp;&nbsp; 
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"> NAS</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link d-flex" routerLink="cquib" [queryParams]="{tabName : 'UDISE+'}" href="#">
            <span class="navIcon mt-2"><img src="../assets/images/UDISE.png" style="width: 50px; height: 50px;" alt=""></span>&nbsp;&nbsp; 
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"> UDISE+</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link d-flex" routerLink="cquib" [queryParams]="{tabName : 'NIPUN Bharat'}" href="#">
            <span class="navIcon mt-2"><img src="../assets/images/Nipun Bharat Logo-01.png" style="width: 50px; height: 50px;" alt=""></span>&nbsp;&nbsp; 
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"> NIPUN Bharat</span>
          </a>
        </li>

       




        <li class="nav-item my-2">
          <a class="nav-link active d-flex" href="https://ncert.delhivsk.org/#/login">
            <span class="navIcon"><img  src="../assets/images/Dashboard img/cQube_logo.jpg" style="width: 44px;" alt=""></span>&nbsp;&nbsp; 
            <span [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">NCERT</span>
          </a>
        </li>

       

      </ul>
    </div>


    <!-- <div class="genisSideBarAlt d-flex justify-content-center fixed-bottom">
      <button (click)="clickEvent()">tikla</button>
    </div> -->

  </div>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-secondary" (click)="clickEvent() ">
          <i class="bi bi-justify"></i>
        </button>
        <h1 class="text-center">Vidya Samiksha Kendra, Delhi</h1>
        <div class="logo">
          <img src="../../../assets/images/delhi_board_logo.png">
          <img src="../../../assets/images/vsk_logo.png">
          <img src="../../../assets/images/SSA.png">
          <i class="bi bi-box-arrow-right pt-4 h2 text-danger" (click)="logout()"></i>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>


  </div>
</div>

<!-- Body content -->
<!-- <router-outlet *ngIf="!isLogIn"></router-outlet> -->
<app-login-page *ngIf="!isLogIn" (loginFlag)="loginFlagFunc($event)"></app-login-page>
<!-- Body content -->