<div class="wrapper" *ngIf="isLogIn">
  <div class="sidebarMenu large-screen" [ngClass]="status ? 'darSideBar' : 'genisSideBar'">
    <div class="sideBarUst text-center pt-3">
      <div class="logo">
        <button type="button" id="sidebarCollapse" class="btn" (click)="clickEvent() ">
          <!-- <i class="bi bi-justify"></i> -->VSK
        </button>
      </div><br>
    </div>

    <div class="sideBarOrta mt-3">

      <!-- School -->
      <ul class="nav flex-column" *ngIf="user.role == 'school'">
        <li class="nav-item">
          <a class="nav-link" routerLink="content/school-dashboard" routerLinkActive="active" href="#">
            <span class="image-icon">
              <img src="../assets/images/dashboard.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="content/students" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/icons/graduated-2.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Students</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="content/staff" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/icons/teacher-2.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Staff</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="content/students-attendance" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/icons/attendance.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Students
              attendance</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="content/teacher-attendance" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/icons/available.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Teacher
              attendance</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="content/exam-report" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/icons/seo-report.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Exam
              report</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="content/attendance-report" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/icons/seo-report.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Attendance
              report</span>
          </a>
        </li>
      </ul>

      <!-- Admin -->
      <ul class="nav flex-column" *ngIf="user.role == 'user'">
        <li class="nav-item">
          <a class="nav-link" routerLink="content/admin-dashboard" routerLinkActive="active" href="#">
            <span class="image-icon">
              <img src="../assets/images/dashboard.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="school" routerLinkActive="active" href="#">
            <span class="image-icon text-center">
              <img src="../assets/images/Dashboard/school.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">School</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="teacher" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/Dashboard/teacher.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Teacher</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="student" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/Dashboard/reading.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Student</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="attendance" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/Dashboard/attendance.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">Attendance</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="nishtha" routerLinkActive="active" href="#">
            <span class="image-icon">
              <img src="../assets/images/Dashboard/nishtha.png" alt="">
            </span>
            <span class="ms-2"
              [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">NISHTHA</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="pgi" routerLinkActive="active">
            <span class="image-icon">
              <img src="../assets/images/Dashboard/pgi.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">PGI</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="udise" routerLinkActive="active">
            <span class="image-icon">
              <img src="../assets/images/UDISE.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">UDISE</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="nas" routerLinkActive="active">
            <span class="image-icon">
              <img src="../assets/images/Dashboard/unnamed.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'"> NAS</span>
          </a>
        </li>

        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="diksha" routerLinkActive="active">
            <span class="image-icon">
              <img src="../assets/images/ETB & E-Content.png" alt="">
            </span>
            <span class="ms-2" [ngClass]="statusLink ? 'navLinkDar' : 'navLinkGenis animated fadeInRight'">
              Diksha</span>
          </a>
        </li>

      </ul>
    </div>

  </div>

  <!-- Page Content  -->
  <div id="content">

    <!-- <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">

        <p class="text-center text-white header-font">Vidya Samiksha Kendra, Delhi</p>
        <div class="logo d-flex">
          <img src="../../../assets/images/delhi_board_logo.png">
          <img src="../../../assets/images/vsk_logo.png">
          <img src="../../../assets/images/SSA.png" style="width: 150px;height: 55px;">
          <i class="bi bi-box-arrow-right h2 text-danger ms-4" (click)="logout()"></i>
        </div>
      </div>
    </nav>
    <br> -->

    <!--  -->
    <nav class="navbar navbar-expand-xl navbar-light large-screen">
      <div class="container-fluid d-flex">
        <p routerLink="content/admin-dashboard" class="text-center text-white header-font mb-0"
          style="cursor: pointer;">Vidya
          Samiksha Kendra, Delhi</p>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav logo">
            <li class="nav-item">
              <img src="../../../assets/images/delhi_board_logo.png">
            </li>
            <li class="nav-item">
              <img src="../../../assets/images/vsk_logo.png">
            </li>
            <li class="nav-item">
              <img src="../../../assets/images/SSA.png" style="width: 150px;height: 55px;">
            </li>
            <li class="nav-item">
              <i class="bi bi-box-arrow-right h2 text-danger ms-4" (click)="logout()"></i>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-xl navbar-light small-screen">
      <div class="container-fluid d-block">
        <h3 routerLink="content/admin-dashboard" class="text-center header-font mb-0"
          style="cursor: pointer; font-size:large;">Vidya
          Samiksha Kendra, Delhi</h3>
        <!-- <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-three-dots-vertical"></i>
        </button> -->
        
        <div>
          <div class="logo mt-3 me-3 d-flex">
            <span class="nav-item">
              <img src="../../../assets/images/delhi_board_logo.png" style="width: 70px;height:50px;">
            </span>
            <span class="nav-item">
              <img src="../../../assets/images/vsk_logo.png" style="width: 70px;height:50px;">
            </span>
            <span class="nav-item">
              <img src="../../../assets/images/SSA.png" style="width: 70px;height:50px;">
            </span>
          </div>
        </div>
      </div>
    </nav>

    <h1 class="shadow-lg h2 btn small-screen fw-bold" style="position: absolute; top: 0" (click)="sideBarNav()">
      ☰
    </h1>
    <div class="small-screen" *ngIf="showFlag">
      <ul class="nav" *ngIf="user.role == 'user'" style="width: 85px;">
        <li class="nav-item mt-2">
          <a class="nav-link" (click)="sideBarNav()" routerLink="content/admin-dashboard" routerLinkActive="active" href="#">
            <span>
              <img src="../assets/images/dashboard.png" alt="">
            </span>
          </a>
          <p class="mb-0">Dashboard</p>
        </li> 
        <hr class="m-0 w-100">

        <li class="nav-item">
          <a class="nav-link" (click)="sideBarNav()" routerLink="school" routerLinkActive="active" href="#">
            <span class="image-icon text-center">
              <img src="../assets/images/Dashboard/school.png" alt="">
            </span>
          </a>
          <p class="mb-0 ">School</p>
        </li>
        <hr class="m-0 w-100">

        <li class="nav-item">
          <a class="nav-link" (click)="sideBarNav()" routerLink="teacher" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/Dashboard/teacher.png" alt="">
            </span>
          </a>
          <p class="mb-0 ">Teacher</p>
        </li>
        <hr class="m-0 w-100">

        <li class="nav-item">
          <a class="nav-link" (click)="sideBarNav()" routerLink="student" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/Dashboard/reading.png" alt="">
            </span>
          </a>
          <p class="mb-0 ">Student</p>
        </li>
        <hr class="m-0 w-100">

        <li class="nav-item">
          <a class="nav-link" (click)="sideBarNav()" routerLink="attendance" routerLinkActive="active" href="#">
            <span class="image-icon text-center justify-content-center">
              <img src="../assets/images/Dashboard/attendance.png" alt="">
            </span>
          </a>
          <p class="mb-0 ">Attendance</p>
        </li>
        <hr class="m-0 w-100">

        <li class="nav-item">
          <a class="nav-link" (click)="sideBarNav()" routerLink="nishtha" routerLinkActive="active" href="#">
            <span class="image-icon">
              <img src="../assets/images/Dashboard/nishtha.png" alt="">
            </span>
          </a>
          <p class="mb-0 ">Nishtha</p>
        </li>
        <hr class="m-0 w-100">

        <li class="nav-item">
          <a class="nav-link" (click)="sideBarNav()" routerLink="pgi" routerLinkActive="active">
            <span class="image-icon">
              <img src="../assets/images/Dashboard/pgi.png" alt="">
            </span>
          </a>
          <p class="mb-0 text-center">PGI</p>
        </li>
        <hr class="m-0 w-100">

        <li class="nav-item">
          <a class="nav-link" (click)="sideBarNav()" routerLink="udise" routerLinkActive="active">
            <span class="image-icon">
              <img src="../assets/images/UDISE.png" alt="">
            </span>
          </a>
          <p class="mb-0 text-center">UDISE</p>
        </li>
        <hr class="m-0 w-100">

        <li class="nav-item">
          <a class="nav-link" (click)="sideBarNav()" routerLink="nas" routerLinkActive="active">
            <span class="image-icon">
              <img src="../assets/images/Dashboard/unnamed.png" alt="">
            </span>
          </a>
          <p class="mb-0 text-center">NAS</p>
        </li>
        <hr class="m-0 w-100">

        <li class="nav-item">
          <a class="nav-link" (click)="sideBarNav()" routerLink="diksha" routerLinkActive="active">
            <span class="image-icon">
              <img src="../assets/images/ETB & E-Content.png" alt="">
            </span>
          </a>
          <p class="mb-0 ">Diksha</p>
        </li>
        <hr class="m-0 w-100">

      </ul>
    </div>
    <router-outlet></router-outlet>


  </div>
</div>
<footer>
  <p class="text-white text-center m-0">Copyright © 2023-24 Laboni Media Solutions, All Rights Reserved</p>
</footer>
<!-- Body content -->
<!-- <router-outlet *ngIf="!isLogIn"></router-outlet> -->
<app-login-page *ngIf="!isLogIn" (loginFlag)="loginFlagFunc($event)"></app-login-page>
<!-- Body content -->