<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
<!-- Dropdowns -->
<div class="mt-3 filter-box" [ngClass]="communicationServiceMobile ? 'd-block' : 'd-flex'">
  <h2 class="fw-bold mb-0 p-1">SCHOOL</h2>
  <div class="vr mx-3 opacity-100" [ngClass]="communicationServiceMobile ? 'd-none' : 'd-block'"></div>
  <select class="form-select" *ngIf="user.role == 'admin'" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" [(ngModel)]="districtModel" (change)="getGraphsByDistrictName()">
    <option value="">All Districts</option>
    <option *ngFor="let district of allDistricts" value="{{district.districtName}}">
      {{district.districtName}}
    </option>
  </select>
  <select class="form-select" *ngIf="user.role == 'district' || user.role == 'admin'" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" [(ngModel)]="zoneModel" (change)="getGraphsByZone()">
    <option value="" disabled>All Zones</option>
    <option *ngFor="let zone of allZones" value="{{zone.Zone_Name}}">
      Zone -{{zone.Zone_Name}}
    </option>
  </select>
  <!-- <select class="form-select w-25 ms-2 mx-1 my-1" [(ngModel)]="schoolModel" (change)="getGraphsBySchoolName()">
        <option value="" disabled>Select Schools</option>
        <option *ngFor="let school of allSchools" [ngValue]="school">
            {{school.SchName}} ({{school.SchoolID}})
        </option>
    </select> -->
</div>
<div class="container1">
  <div class="column text-center">
    <h5 class="header-bg p-2">Udise Total School</h5>
    <div class="mt-4">
      <img class="ms-2" src="../../../assets/images/Dashboard/school.png" style="height: 120px;" alt="">
    </div>
    <h1 class="fw-bold mt-4">{{TotalSchool}}</h1>
    <h3>Total schools</h3>
  </div>

  <div class="column">
    <h5 class="header-bg p-2">Rural Urban Count</h5>
    <apx-chart [series]="RuralUrbanCountsGraph?.series" [chart]="RuralUrbanCountsGraph?.chart"
      [labels]="RuralUrbanCountsGraph?.labels" [fill]="RuralUrbanCountsGraph?.fill"
      [colors]="RuralUrbanCountsGraph?.colors" [dataLabels]="RuralUrbanCountsGraph?.dataLabels"
      [plotOptions]="RuralUrbanCountsGraph?.plotOptions" [responsive]="RuralUrbanCountsGraph?.responsive"
      [legend]="RuralUrbanCountsGraph?.legend"></apx-chart>
  </div>

  <div class="column">
    <h5 class="header-bg p-2">School Gender Wise Count</h5>
    <apx-chart [series]="SchoolGenderCountsGraph?.series" [chart]="SchoolGenderCountsGraph?.chart"
      [labels]="SchoolGenderCountsGraph?.labels" [fill]="SchoolGenderCountsGraph?.fill"
      [colors]="SchoolGenderCountsGraph?.colors" [dataLabels]="SchoolGenderCountsGraph?.dataLabels"
      [plotOptions]="SchoolGenderCountsGraph?.plotOptions" [responsive]="SchoolGenderCountsGraph?.responsive"
      [legend]="RuralUrbanCountsGraph?.legend"></apx-chart>
  </div>

  <!-- <div class="column">
      <h5 class="header-bg p-2">School Type Wise Count</h5>
      <apx-chart [series]="TypeofSchoolCountsGraph?.series" [chart]="TypeofSchoolCountsGraph?.chart"
          [labels]="TypeofSchoolCountsGraph?.labels" [fill]="TypeofSchoolCountsGraph?.fill"
          [colors]="TypeofSchoolCountsGraph?.colors" [dataLabels]="TypeofSchoolCountsGraph?.dataLabels"
          [plotOptions]="TypeofSchoolCountsGraph?.plotOptions" [responsive]="TypeofSchoolCountsGraph?.responsive"
          [legend]="RuralUrbanCountsGraph?.legend"></apx-chart>
    </div> -->

  <div class="column">
    <h5 class="header-bg p-2">School Shift Wise Count</h5>
    <apx-chart [series]="ShiftfSchoolCountsGraph?.series" [chart]="ShiftfSchoolCountsGraph?.chart"
      [labels]="ShiftfSchoolCountsGraph?.labels" [fill]="ShiftfSchoolCountsGraph?.fill"
      [colors]="ShiftfSchoolCountsGraph?.colors" [dataLabels]="ShiftfSchoolCountsGraph?.dataLabels"
      [plotOptions]="ShiftfSchoolCountsGraph?.plotOptions" [responsive]="ShiftfSchoolCountsGraph?.responsive"
      [legend]="ShiftfSchoolCountsGraph?.legend"></apx-chart>
  </div>

  <div class="column" [ngClass]="communicationServiceMobile ? '' : 'wide-height'" style="height: auto;">
    <h5 class="header-bg p-2">School Type Wise Count</h5>
    <apx-chart [series]="SchoolTypeCountsGraph?.series" [chart]="SchoolTypeCountsGraph?.chart"
      [dataLabels]="SchoolTypeCountsGraph?.dataLabels" [plotOptions]="SchoolTypeCountsGraph?.plotOptions"
      [xaxis]="SchoolTypeCountsGraph?.xaxis" [colors]="SchoolTypeCountsGraph?.colors"
      [legend]="SchoolTypeCountsGraph?.legend" [fill]="SchoolTypeCountsGraph?.fill"></apx-chart>
  </div>

</div>


<!-- Button trigger modal -->






<!-- new -->
<!-- Button trigger modal -->
<button #openModal data-bs-toggle="modal" class="d-none" data-bs-target="#exampleModal"
  (click)="getTypeWiseSchoolName(true)" (click)="getTypeWiseSchoolNameOfDistrict(true)"
  (click)="getTypeWiseSchoolNameOfZone(true)">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto" *ngIf="SchoolType == 0 || SchoolType " id="exampleModalLabel">Type Wise School
          Data :
          ({{allData.schoolTypeCounts[this.SchoolType]._id}}) </h5>
        <div class="dropdown">
          <span class="text-danger m-2"><img src="../../../assets/images/icons/downloads.png" width="25px"
              alt=""></span>
          <div class="dropdown-content">
            <button class="btn" (click)="exportToCSV()"><i class="bi bi-filetype-csv h2 text-warning"></i>
              CSV</button>
            <button class="btn" (click)="exportToExcel()"><i class="bi bi-file-earmark-excel h2 text-success"></i>
              Excel</button>
            <button class="btn" value="CPTURE" (click)="pdf.saveAs('Student data.pdf')"><i
                class="bi bi-filetype-pdf h2 text-danger"></i>PDF</button>
          </div>
        </div>
        <!--  -->
        <button type="button" (click)="searchBox = ''" class="btn-close m-2" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="input-group mb-3 w-50">
          <span class="input-group-text" id="basic-addon1">🔍</span>
          <input class="form-control" type="search" [(ngModel)]="searchBox" placeholder="Search by name..." value=""
            id="example-search-input">
        </div>
        <kendo-pdf-export #pdf paperSize="A3">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
              <thead class="thead-light">
                <tr class="table-bordered ">
                  <th>Sr No</th>
                  <th>District</th>
                  <th>Zone</th>
                  <th>School ID</th>
                  <th>UDISE Code</th>
                  <th>School Name</th>
                  <th>Rural Or Urban</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Shift</th>
                  <th>SchoolLevel</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of allSchoolTypeData | search:searchBox;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{data.district}}</td>
                  <td>{{data.zone}}</td>
                  <td>{{data.SchoolID}}</td>
                  <td>{{data.Udise_Code}}</td>
                  <td>{{data.SchName}}</td>
                  <td>{{data.RuralUrban}}</td>
                  <td>{{data.SchAddress}}</td>
                  <td>{{data.School_Deatils_Landline_Phone}}</td>
                  <td>{{data.Shiftofschool}}</td>
                  <td>{{data.School_Level}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </kendo-pdf-export>
      </div>
    </div>
  </div>
</div>