.marquee {
  background-color: #3d9be9;
}

.marquee:hover span {
  animation-play-state: paused;
}

.under-maintenance {
  font-size: 25px;
  font-weight: 700;
  color: red;
  animation: wiggle 2s linear infinite;
  align-items: center;
  border: 2px solid red;
}

/* Keyframes */
@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* .marquee {
    background-color: #6610f2 !important;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
  }
  .marquee span {
    display: inline-block;
    font-size: 20px;
    position: relative;
    left: 100%;
    animation: marquee 12s linear infinite;
  }
  .marquee:hover span {
    animation-play-state: paused;
  }
  
  .marquee span:nth-child(1) {
    animation-delay: 0s;
  }
  .marquee span:nth-child(2) {
    animation-delay: 0.8s;
  }
  .marquee span:nth-child(3) {
    animation-delay: 1.6s;
  }
  .marquee span:nth-child(4) {
    animation-delay: 2.4s;
  }
  .marquee span:nth-child(5) {
    animation-delay: 3.2s;
  }
  
  @keyframes marquee {
    0%   { left: 100%; }
    100% { left: -100%; }
  } */