.marquee {
  background-color: #3d9be9;
}

.marquee:hover span {
  animation-play-state: paused;
}

.nav-item .active {
  background-color: #3d9be9;
}

.nav-link {
  color: #000;
}

.filter-box-attendance {
  margin: auto 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.under-maintenance {
  font-size: 30px;
  font-weight: 700;
  color: red;
  /* animation: wiggle 10s linear infinite; */
  align-items: center;margin: 10px auto;
}

/* Keyframes */
@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}