<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>

<div class="mt-3 filter-box" [ngClass]="communicationServiceMobile ? 'd-block' : 'd-flex'">
  <h2 class="fw-bold">RangeWise</h2>
  <div class="vr mx-3 opacity-100" [ngClass]="communicationServiceMobile ? 'd-none' : 'd-block'"></div>
  <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" [(ngModel)]="districtModel" (change)="getGraphsByDistrictName()" *ngIf="user.role !== 'district' && user.role !== 'zone' && user.role !== 'school'">
    <option ngValue="">All Districts</option>
    <option *ngFor="let district of allDistricts" value="{{district.districtName}}">
      {{district.districtName}} ({{district.D_ID}})
    </option>
  </select>
  <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" [(ngModel)]="zoneModel" (change)="getGraphsByZone()" *ngIf="user.role !== 'zone' && user.role !== 'school'">
    <option value="">All Zones</option>
    <option *ngFor="let zone of allZones" value="{{zone.Zone_Name}}">
      {{zone.Zone_Name}} ({{zone.Z_ID}})
    </option>
  </select>
  <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" [(ngModel)]="shiftModel" (change)="getGraphsByShift()"  *ngIf="user.role !== 'school'">
    <option value="" disabled>Select Shift</option>
    <option *ngFor="let shift of allShift" value="{{shift}}">
      {{shift}}
    </option>
  </select>
  <select class="form-select ms-2" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" [(ngModel)]="schoolModel" (change)="getGraphsBySchoolName()" *ngIf="user.role !== 'school'">
    <option value="">All School</option>
    <option *ngFor="let school of allSchools" [ngValue]="school">
      {{school.School_Name}} - ({{school.Schoolid}})
    </option>
  </select>
  <input type="date" class="form-control" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" [(ngModel)]="dateModel1" (change)="datePicker()">
  <div class=" mt-2" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'mx-1'">To</div>
  <input type="date" class="form-control" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'" [(ngModel)]="dateModel2" (change)="datePicker()">
</div>

<div class="justify-content-center filter-box mt-2" [ngClass]="communicationServiceMobile ? 'd-none' : 'd-flex'"
  *ngIf="districtModel || zoneModel || schoolModel.School_Name || (dateModel1 && dateModel2)">
  <h3 class="text-center mb-0" *ngIf="districtModel">{{districtModel}}&nbsp; </h3>
  <h3 class="text-center mb-0" *ngIf="zoneModel"> <span *ngIf="districtModel">|</span> {{zoneModel}}&nbsp; </h3>
  <h3 class="text-center mb-0" *ngIf="schoolModel.School_Name"> <span *ngIf="zoneModel || districtModel && !shiftModel">|</span>
    {{schoolModel.School_Name}}
  </h3>
  <h3 class="text-center mb-0" *ngIf="shiftModel"><span *ngIf="zoneModel || districtModel && !shiftModel">|</span>{{shiftModel}}</h3>
  <h3 class="text-center mb-0" *ngIf="dateModel1 && dateModel2"> <span
      *ngIf="districtModel || zoneModel || schoolModel || shiftModel">|</span> {{dateModel1 | date: 'dd MMM yyyy'}} To {{dateModel2 |
    date: 'dd MMM yyyy'}}</h3>
</div>

<div class="container1" *ngIf="dateModel1 && dateModel2 && !dataNotFound">
  <div class="column">
    <h5 class="header-bg p-2">Gender Wise Present Students</h5>
    <apx-chart [series]="genderWisePresent?.series" [chart]="genderWisePresent?.chart"
      [labels]="genderWisePresent?.labels" [fill]="genderWisePresent?.fill" [dataLabels]="genderWisePresent?.dataLabels"
      [plotOptions]="genderWisePresent?.plotOptions" [responsive]="genderWisePresent?.responsive"
      [legend]="genderWisePresent?.legend" [colors]="genderWisePresent?.colors"
      [tooltip]="genderWisePresent?.tooltip"></apx-chart>
  </div>

  <div class="column">
    <h5 class="header-bg p-2">Gender Wise Absent Students</h5>
    <apx-chart [series]="genderWiseAbsent?.series" [chart]="genderWiseAbsent?.chart" [labels]="genderWiseAbsent?.labels"
      [fill]="genderWiseAbsent?.fill" [dataLabels]="genderWiseAbsent?.dataLabels"
      [plotOptions]="genderWiseAbsent?.plotOptions" [responsive]="genderWiseAbsent?.responsive"
      [legend]="genderWiseAbsent?.legend" [colors]="genderWiseAbsent?.colors"
      [tooltip]="genderWiseAbsent?.tooltip"></apx-chart>
  </div>

  <div class="column">
    <h5 class="header-bg p-2">Gender Wise Not Marked Students</h5>
    <apx-chart [series]="genderWiseNotMarked?.series" [chart]="genderWiseNotMarked?.chart"
      [labels]="genderWiseNotMarked?.labels" [fill]="genderWiseNotMarked?.fill"
      [dataLabels]="genderWiseNotMarked?.dataLabels" [plotOptions]="genderWiseNotMarked?.plotOptions"
      [responsive]="genderWiseNotMarked?.responsive" [legend]="genderWiseNotMarked?.legend"
      [colors]="genderWiseNotMarked?.colors" [tooltip]="genderWiseNotMarked?.tooltip"></apx-chart>
  </div>

  <div class="column">
    <h5 class="header-bg p-2">Gender Wise On Leave Students</h5>
    <apx-chart [series]="genderWiseLeave?.series" [chart]="genderWiseLeave?.chart" [labels]="genderWiseLeave?.labels"
      [fill]="genderWiseLeave?.fill" [dataLabels]="genderWiseLeave?.dataLabels"
      [plotOptions]="genderWiseLeave?.plotOptions" [responsive]="genderWiseLeave?.responsive"
      [legend]="genderWiseLeave?.legend" [colors]="genderWiseLeave?.colors"
      [tooltip]="genderWiseLeave?.tooltip"></apx-chart>
  </div>

  <div [ngClass]="{'wide': DateWiseRange.length < 3, 'extra-wide': DateWiseRange.length > 7}" class="column">
    <h5 class="header-bg p-2">Attendance Bar</h5>
    <apx-chart [series]="dateRangeGraph?.series" [chart]="dateRangeGraph?.chart"
      [dataLabels]="dateRangeGraph?.dataLabels" [plotOptions]="dateRangeGraph?.plotOptions"
      [responsive]="dateRangeGraph?.responsive" [xaxis]="dateRangeGraph?.xaxis" [legend]="dateRangeGraph?.legend"
      [fill]="dateRangeGraph?.fill" [colors]="dateRangeGraph?.colors"></apx-chart>
  </div>
</div>
<div class="bg-primary m-4" *ngIf="!(dateModel1 && dateModel2)">
  <h2 class="text-center text-white fst-italic p-2">Please Select Date Range...</h2>
</div>