<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
<div class="d-flex mt-3 filter-box">
  <h2 class="fw-bold">Teacher</h2>
  <div class="vr mx-3 opacity-100"></div>
  <select class="form-select w-25 ms-2" [(ngModel)]="districtModel" (change)="getGraphsByDistrictName()">
    <option value="">All Districts</option>
    <option *ngFor="let district of allDistricts" value="{{district.districtName}}">
      {{district.districtName}} ({{district.D_ID}})
    </option>
  </select>
  <select class="form-select w-25 ms-2" [(ngModel)]="zoneModel" (change)="getGraphsByZone()">
    <option value="" disabled>All Zones</option>
    <option *ngFor="let zone of allZones" value="{{zone.Zone_Name}}">
      {{zone.Zone_Name}} ({{zone.Z_ID}})
    </option>
  </select>
  <select class="form-select w-25 ms-2" [(ngModel)]="schoolModel" (change)="getGraphsBySchoolName()">
    <option value="" disabled>All School</option>
    <option *ngFor="let school of allSchools" [ngValue]="school">
      {{school.School_Name}} - ({{school.Schoolid}})
    </option>
  </select>
</div>

<div class="d-flex justify-content-center filter-box mt-2"
  *ngIf="districtModel || zoneModel || schoolModel.School_Name">
  <h3 class="text-center mb-0" *ngIf="districtModel">{{districtModel}}&nbsp; </h3>
  <h3 class="text-center mb-0" *ngIf="zoneModel"> <span *ngIf="districtModel">|</span> {{zoneModel}}&nbsp; </h3>
  <h3 class="text-center mb-0" *ngIf="schoolModel.School_Name"> <span *ngIf="zoneModel || districtModel">|</span>
    {{schoolModel.School_Name}}
  </h3>
</div>

<div class="container1">
  <div class="column text-center">
    <h5 class="header-bg p-2">Total Teacher</h5>
    <div class="d-flex justify-content-around mt-4" (click)="getTachersBySchoolName()">
      <img class="ms-2" src="../../../assets/images/Dashboard/lady Teacher.png" style="height: 120px;" alt="">
      <div class="d-block ms-1 text-center">
        <h1 class="fw-bold">{{allData?.totalTeachers}}</h1>
        <h3>Total Teacher</h3>
      </div>
    </div>
    <div class="d-flex mt-5 justify-content-around">
      <div class="teacher-info">
        <h1 class="fw-bold">{{allData?.totalSchools}}</h1>
        <h5>Total School</h5>
      </div>
      <div class="vr"></div>
      <div class="teacher-info">
        <h1 class="fw-bold">{{allData?.averageTeachers?.toFixed(1)}}</h1>
        <h5>Average Teacher</h5>
      </div>
    </div>
  </div>


  <div class="column text-center">
    <h5 class="header-bg p-2">Student & Teacher Ratio</h5>
    <img class="img-fluid mt-4" width="180" src="../../../assets/images/pngegg.png">
    <h5 class="mt-5">{{allData?.teacherStudentRatio | number: '1.0-0'}} : 1 Teacher</h5>
  </div>

  <div class="column">
    <h5 class="header-bg p-2">Teachers Gender Ratio</h5>
    <apx-chart [series]="teacherGenderRatio?.series" [chart]="teacherGenderRatio?.chart"
      [dataLabels]="teacherGenderRatio?.dataLabels" [plotOptions]="teacherGenderRatio?.plotOptions"
      [legend]="teacherGenderRatio?.legend" [labels]="teacherGenderRatio?.labels" [colors]="teacherGenderRatio?.colors"
      [grid]="teacherGenderRatio?.grid" [tooltip]="teacherGenderRatio?.tooltip"></apx-chart>
  </div>
  <div class="column wide" style="height: auto;">
    <h5 class="header-bg p-2">Designation wise Teacher</h5>
    <apx-chart [series]="designation?.series" [chart]="designation?.chart" [dataLabels]="designation?.dataLabels"
      [plotOptions]="designation?.plotOptions" [xaxis]="designation?.xaxis" [yaxis]="designation?.yaxis"
      [labels]="designation?.labels" [legend]="designation?.legend" [colors]="designation?.colors"
      [grid]="designation?.grid" [fill]="designation?.fill"></apx-chart>
  </div>
  <!--  -->
  <div class="column">
    <h5 class="header-bg p-2">Shift wise Teacher</h5>
    <apx-chart [series]="shiftWiseSchools?.series" [chart]="shiftWiseSchools?.chart" [labels]="shiftWiseSchools?.labels"
      [fill]="shiftWiseSchools?.fill" [stroke]="shiftWiseSchools?.stroke" [responsive]="shiftWiseSchools?.responsive"
      [legend]="shiftWiseSchools?.legend" [colors]="shiftWiseSchools?.colors"
      [tooltip]="shiftWiseSchools?.tooltip"></apx-chart>
  </div>
  <!--  -->
  <div class="column">
    <h5 class="header-bg p-2">Schools Management Wise Teacher</h5>
    <apx-chart [series]="schoolsManagementWiseTeacher?.series" [chart]="schoolsManagementWiseTeacher?.chart"
      [labels]="schoolsManagementWiseTeacher?.labels" [fill]="schoolsManagementWiseTeacher?.fill"
      [colors]="schoolsManagementWiseTeacher?.colors" [dataLabels]="schoolsManagementWiseTeacher?.dataLabels"
      [plotOptions]="schoolsManagementWiseTeacher?.plotOptions" [responsive]="schoolsManagementWiseTeacher?.responsive"
      [legend]="schoolsManagementWiseTeacher?.legend" [tooltip]="schoolsManagementWiseTeacher?.tooltip"></apx-chart>
  </div>

  <div class="column">
    <h5 class="header-bg p-2">Schools Category Wise Teacher</h5>
    <apx-chart [series]="teacherCategory?.series" [chart]="teacherCategory?.chart"
      [dataLabels]="teacherCategory?.dataLabels" [plotOptions]="teacherCategory?.plotOptions"
      [xaxis]="teacherCategory?.xaxis" [yaxis]="teacherCategory?.yaxis" [colors]="teacherCategory?.colors"
      [title]="teacherCategory?.title" [legend]="teacherCategory?.legend" [fill]="teacherCategory?.fill"></apx-chart>
  </div>
  <!--  -->
  <div class="column">
    <h5 class="header-bg p-2">Experience Wise Teacher Count</h5>
    <apx-chart [series]="experienceWiseTeacher?.series" [chart]="experienceWiseTeacher?.chart"
      [dataLabels]="experienceWiseTeacher?.dataLabels" [plotOptions]="experienceWiseTeacher?.plotOptions"
      [xaxis]="experienceWiseTeacher?.xaxis" [yaxis]="experienceWiseTeacher?.yaxis"
      [colors]="experienceWiseTeacher?.colors" [title]="experienceWiseTeacher?.title"
      [legend]="experienceWiseTeacher?.legend" [fill]="experienceWiseTeacher?.fill"></apx-chart>
  </div>
  <!--  -->
  <div class="column">
    <h5 class="header-bg p-2">Schools Type Wise Teacher</h5>
    <apx-chart [series]="schoolTypeWiseCount?.series" [chart]="schoolTypeWiseCount?.chart"
      [labels]="schoolTypeWiseCount?.labels" [fill]="schoolTypeWiseCount?.fill"
      [dataLabels]="schoolTypeWiseCount?.dataLabels" [plotOptions]="schoolTypeWiseCount?.plotOptions"
      [responsive]="schoolTypeWiseCount?.responsive" [legend]="schoolTypeWiseCount?.legend"
      [colors]="schoolTypeWiseCount?.colors" [tooltip]="schoolTypeWiseCount?.tooltip"></apx-chart>
  </div>

  <!--  -->
  <!-- <div class="column">
    <h5 class="header-bg p-2">Stream wise Teacher</h5>
    <apx-chart [series]="streamWiseTeacher?.series" [chart]="streamWiseTeacher?.chart"
      [labels]="streamWiseTeacher?.labels" [fill]="streamWiseTeacher?.fill" [stroke]="streamWiseTeacher?.stroke"
      [responsive]="streamWiseTeacher?.responsive" [legend]="streamWiseTeacher?.legend"></apx-chart>
  </div> -->

  <!-- <div class="column">
    <h5 class="header-bg p-2">Stream Wise Teacher</h5>
    <apx-chart [series]="streamWiseTeacher?.series" [chart]="streamWiseTeacher?.chart"
      [dataLabels]="streamWiseTeacher?.dataLabels" [plotOptions]="streamWiseTeacher?.plotOptions"
      [xaxis]="streamWiseTeacher?.xaxis" [yaxis]="streamWiseTeacher?.yaxis" [labels]="streamWiseTeacher?.labels"
      [legend]="streamWiseTeacher?.legend" [colors]="streamWiseTeacher?.colors" [grid]="streamWiseTeacher?.grid"
      [fill]="streamWiseTeacher?.fill"></apx-chart>
  </div> -->

  <!--  -->
  <!-- <div class="column">
    <h5 class="header-bg p-2">Minority wise Teacher</h5>
    <apx-chart [series]="minorityWiseTeacher?.series" [chart]="minorityWiseTeacher?.chart"
      [labels]="minorityWiseTeacher?.labels" [fill]="minorityWiseTeacher?.fill"
      [dataLabels]="minorityWiseTeacher?.dataLabels" [plotOptions]="minorityWiseTeacher?.plotOptions"
      [responsive]="minorityWiseTeacher?.responsive" [legend]="minorityWiseTeacher?.legend"></apx-chart>
  </div> -->

  <!--  -->
</div>


<!--  -->
<!-- Button trigger modal -->
<button #openModal data-bs-toggle="modal" class="d-none" data-bs-target="#exampleModal"
  (click)="getTeachersByGender(true)">

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #b3d64d;">
        <h5 class="modal-title" *ngIf="configGender" id="exampleModalLabel">Teacher Details By Gender:
          ({{configGender?.dataPointIndex == 0 ? 'Male' : 'Female'}}) </h5>
        <h5 class="modal-title" *ngIf="configDesignation == 0 || configDesignation" id="exampleModalLabel">Teacher Details By Designation:
          ({{allData.postdescWiseTeacherCounts[configDesignation]._id}}) </h5>
        <h5 class="modal-title" *ngIf="commonName" id="exampleModalLabel">Teacher Details By {{commonName}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <table class="table table-responsive table-hover table-bordered table-striped">
          <thead class="thead-light">
            <tr class="table-bordered ">
              <th>Sr No</th>
              <th>Name</th>
              <th>Emp. Id</th>
              <th style="width: 112px;">Joining Date</th>
              <th>School</th>
              <th>Designation</th>
              <th>Gender</th>
              <th>DOB</th>
              <th>District</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of allTeacherData;let i = index">
              <td>{{i+1}}</td>
              <td>{{data.Name}}</td>
              <td>{{data.empid}}</td>
              <td>{{data.JoiningDate}}</td>
              <td>{{data.schname}}</td>
              <td>{{data.postdesc}}</td>
              <td>{{data.gender}}</td>
              <td>{{data.dob}}</td>
              <td>{{data.districtname}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>