<div class="d-flex mb-3">
  <h2 class="fw-bold">TEACHER</h2>
  <div class="vr mx-3 opacity-100"></div>
</div>
<div class="container1">
  <div class="column text-center">
    <h5 class="bg-light p-3 m-3">Total Teacher</h5>
    <div class="d-flex">
      <div class="teacher-info">
        <h1 class="fw-bold">{{totalTeacher}}</h1>
        <h3>Total Teacher</h3>
      </div>
      <div class="vr"></div>
      <div class="teacher-info">
        <h1 class="fw-bold">{{averageTeacherOfSchool.toFixed(3)}}</h1>
        <h3>Average Teacher</h3>
      </div>
    </div>
  </div>



  <div class="column text-center">
    <h5 class="mb-0">Teacher Student Ratio</h5>
    <img class="img-fluid mt-4" width="180" src="../../../assets/images/Dashboard img/lady Teacher.png">
    <h5 class="mt-3 fw-bold">Teacher Student Ratio {{teachersRatio}} School</h5>
  </div>
  <div class="column">
    <h5 class="mb-0">Teachers Gender Ratio</h5>
    <apx-chart [series]="teacherGenderRatio?.series" [chart]="teacherGenderRatio?.chart"
      [dataLabels]="teacherGenderRatio?.dataLabels" [plotOptions]="teacherGenderRatio?.plotOptions"
      [yaxis]="teacherGenderRatio?.yaxis" [xaxis]="teacherGenderRatio?.xaxis" [legend]="teacherGenderRatio?.legend"
      [colors]="teacherGenderRatio?.colors" [grid]="teacherGenderRatio?.grid"></apx-chart>
  </div>
  <div class="column">
    <h5 class="mb-0">Types Of Teacher </h5>
    <apx-chart [series]="teacherGenderRatio?.series" [chart]="teacherGenderRatio?.chart"
      [dataLabels]="teacherGenderRatio?.dataLabels" [plotOptions]="teacherGenderRatio?.plotOptions"
      [yaxis]="teacherGenderRatio?.yaxis" [xaxis]="teacherGenderRatio?.xaxis" [legend]="teacherGenderRatio?.legend"
      [colors]="teacherGenderRatio?.colors" [grid]="teacherGenderRatio?.grid"></apx-chart>
  </div>
  <div class="column">
    <h5 class="mb-0">Types of Schools</h5>
    <apx-chart [series]="teacherGenderRatio?.series" [chart]="teacherGenderRatio?.chart"
      [dataLabels]="teacherGenderRatio?.dataLabels" [plotOptions]="teacherGenderRatio?.plotOptions"
      [yaxis]="teacherGenderRatio?.yaxis" [xaxis]="teacherGenderRatio?.xaxis" [legend]="teacherGenderRatio?.legend"
      [colors]="teacherGenderRatio?.colors" [grid]="teacherGenderRatio?.grid"></apx-chart>
  </div>
  <div class="column">
    <h5 class="mb-0">Shift wise Schools</h5>
    <apx-chart [series]="teacherGenderRatio?.series" [chart]="teacherGenderRatio?.chart"
      [dataLabels]="teacherGenderRatio?.dataLabels" [plotOptions]="teacherGenderRatio?.plotOptions"
      [yaxis]="teacherGenderRatio?.yaxis" [xaxis]="teacherGenderRatio?.xaxis" [legend]="teacherGenderRatio?.legend"
      [colors]="teacherGenderRatio?.colors" [grid]="teacherGenderRatio?.grid"></apx-chart>
  </div>
</div>