<div class="container1">
    <div class="column">
        <h5 class="bg-light p-2 m-2">Total Teacher: {{ totalTeachers }}</h5>
        <apx-chart [series]="teacherRaio?.series" [chart]="teacherRaio?.chart"
        [dataLabels]="teacherRaio?.dataLabels" [plotOptions]="teacherRaio?.plotOptions"
        [yaxis]="teacherRaio?.yaxis" [xaxis]="teacherRaio?.xaxis"
        [legend]="teacherRaio?.legend" [colors]="teacherRaio?.colors"
        [grid]="teacherRaio?.grid"></apx-chart>
    </div>
    <div class="column">
        <h5 class="bg-light p-2 m-2">Teacher Per School</h5>
    </div>
    <div class="column">
        <h5 class="mb-0">Students Gender Ratio</h5>
        <apx-chart [series]="studentsGenderRatio?.series" [chart]="studentsGenderRatio?.chart"
            [dataLabels]="studentsGenderRatio?.dataLabels" [plotOptions]="studentsGenderRatio?.plotOptions"
            [yaxis]="studentsGenderRatio?.yaxis" [xaxis]="studentsGenderRatio?.xaxis"
            [legend]="studentsGenderRatio?.legend" [colors]="studentsGenderRatio?.colors"
            [grid]="studentsGenderRatio?.grid"></apx-chart>
    </div>
    <div class="column">
        <h5 class="mb-0">Teachers Gender Ratio</h5>
        <apx-chart [series]="teacherGenderRatio?.series" [chart]="teacherGenderRatio?.chart"
            [dataLabels]="teacherGenderRatio?.dataLabels" [plotOptions]="teacherGenderRatio?.plotOptions"
            [yaxis]="teacherGenderRatio?.yaxis" [xaxis]="teacherGenderRatio?.xaxis"
            [legend]="teacherGenderRatio?.legend" [colors]="teacherGenderRatio?.colors"
            [grid]="teacherGenderRatio?.grid"></apx-chart>
    </div>
    <div class="column">
        <h5 class="mb-0">Types of Schools</h5>
        <apx-chart [series]="typesOfSchools?.series" [chart]="typesOfSchools?.chart" [labels]="typesOfSchools?.labels"
            [fill]="typesOfSchools?.fill" [dataLabels]="typesOfSchools?.dataLabels" [plotOptions]="typesOfSchools?.plotOptions"
            [responsive]="typesOfSchools?.responsive"></apx-chart>
    </div>
    <div class="column">
        <h5 class="mb-0">Shift wise Schools</h5>
        <apx-chart [series]="shiftWiseSchools?.series" [chart]="shiftWiseSchools?.chart" [labels]="shiftWiseSchools?.labels"
            [fill]="shiftWiseSchools?.fill" [dataLabels]="shiftWiseSchools?.dataLabels" [plotOptions]="shiftWiseSchools?.plotOptions"
            [responsive]="shiftWiseSchools?.responsive"></apx-chart>
    </div>
</div>