/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

/* ============================Columns================================ */
.container1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.column {
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column h5 {
    text-align: center;
}

.column img {
    cursor: pointer;
}

/* ============================Columns================================ */