<div class="container1">
    <div class="column">
        <img src="../assets/images/slide1.PNG" class="container-fluid" [routerLink]="['/show-graph']"
            [queryParams]="{graph: 1}">
        <!-- <section id="report">
            <div #embeddedReport1></div>
        </section> -->
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport2></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport3></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport4></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport5></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport6></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport7></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport8></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport9></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport10></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport11></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport12></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport13></div>
        </section>
    </div>
    <div class="column">
        <section id="report">
            <div #embeddedReport14></div>
        </section>
    </div>

</div>