.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.parent .upper1,
.upper2,
.upper3 {
    height: 200px;
    width: 340px;
    background: #8395e1;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
}

/* ----------------------------
        For All District
    --------------------------- */


.column img {
    cursor: pointer;
}

.graph iframe {
    width: 100%;
    height: 100vh;
}

.column button {
    background-color: #7088f1;
}

.column button:hover {
    background-color: #3f59cf;
}

.card-bottom-text {
    position: absolute;
    bottom: 8px;
    width: 100%;
}