<!-- <div class="row">
    <div class="col-lg-6 col-md-6">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"></apx-chart>
    </div>
</div> -->
 
<div class="container1">
    <div class="column">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                    [fill]="chartOptions2.fill" [dataLabels]="chartOptions2.dataLabels"
                    [responsive]="chartOptions2.responsive"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                    [fill]="chartOptions2.fill" [dataLabels]="chartOptions2.dataLabels"
                    [responsive]="chartOptions2.responsive"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                    [fill]="chartOptions2.fill" [dataLabels]="chartOptions2.dataLabels"
                    [responsive]="chartOptions2.responsive"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                    [fill]="chartOptions2.fill" [dataLabels]="chartOptions2.dataLabels"
                    [responsive]="chartOptions2.responsive"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                    [fill]="chartOptions2.fill" [dataLabels]="chartOptions2.dataLabels"
                    [responsive]="chartOptions2.responsive"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                    [fill]="chartOptions2.fill" [dataLabels]="chartOptions2.dataLabels"
                    [responsive]="chartOptions2.responsive"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"></apx-chart>
    </div>
    <div class="column">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                    [fill]="chartOptions2.fill" [dataLabels]="chartOptions2.dataLabels"
                    [responsive]="chartOptions2.responsive"></apx-chart>
    </div>

</div>