<h2 class="text-center">New Delhi District</h2>
<hr>
<div class="d-flex">
    <div class="col-md-4 p-1 graph">
        <iframe title="Central District"
            src="https://app.powerbi.com/reportEmbed?reportId=763b06bf-1d30-4c4a-a2ea-8742d863261c&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-md-8 p-1">
        <div class="container1">
            <div class="column">
                <h5 class="bg-light p-2 m-2">Number of Schools</h5>
                <iframe title="No of Schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=2d9e4964-1915-4515-9b16-a9ab3b6b4612&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Types of Schools</h5>
                <iframe class="pt-3" title="Type of schools"
                    src="https://app.powerbi.com/reportEmbed?reportId=212a7ab4-5b78-4304-8e9c-5e70721a034e&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Shifts</h5>
                <iframe title="Schools by Shifts"
                    src="https://app.powerbi.com/reportEmbed?reportId=0140123d-8af2-4260-9b24-9f2d9decd020&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Streams</h5>
                <iframe title="Schools by Streams"
                    src="https://app.powerbi.com/reportEmbed?reportId=44912e86-1b48-4eba-adcf-bdd798878298&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Minority</h5>
                <iframe title="Schools by Minority"
                    src="https://app.powerbi.com/reportEmbed?reportId=4031dff6-0588-46ad-82da-a4715411b06f&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by high classes</h5>
                <iframe title="Schools by high classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=eb15ead6-80de-4e25-b91c-ccde37c3e7f0&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by low classes</h5>
                <iframe title="Schools by low classes"
                    src="https://app.powerbi.com/reportEmbed?reportId=1e9b28fd-9c3f-44b9-93c8-9564c5d8a187&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Affiliation</h5>
                <iframe title="Schools by Affiliation"
                    src="https://app.powerbi.com/reportEmbed?reportId=920e5a94-22ab-4c2d-afff-aed484c27897&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Management</h5>
                <iframe title="Schools by Management"
                    src="https://app.powerbi.com/reportEmbed?reportId=4e739049-8372-4ffb-aa09-498f496e3ae6&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="column">
                <h5 class="bg-light p-2 m-2">Schools by Category</h5>
                <iframe title="Schools by Category"
                    src="https://app.powerbi.com/reportEmbed?reportId=55bc2a83-a215-4458-902a-d7614a0f5ba9&autoAuth=true&ctid=ecfb30c2-768d-476e-a8e3-d07db1074d7d&navContentPaneEnabled=false&filterPaneEnabled=false"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>