<div class="filter-box-total">
    <div class="filter-box-total" [ngClass]="communicationServiceMobile ? 'd-block' : 'd-flex'">
        <h2 class="fw-bold">HOME</h2>
        <div class="vr mx-3 opacity-100" [ngClass]="communicationServiceMobile ? 'd-none' : 'd-block'"></div>
        <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'"
            [(ngModel)]="districtModel" (change)="getGraphsByDistrictName()">
            <option value="">All Districts</option>
            <option *ngFor="let district of allDistricts" value="{{district.districtName}}">
                {{district.districtName}} ({{district.D_ID}})
            </option>
        </select>
        <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'"
            [(ngModel)]="zoneModel" (change)="getGraphsByZone()">
            <option value="">All Zones</option>
            <option *ngFor="let zone of allZones" value="{{zone.Zone_Name}}">
                {{zone.Zone_Name}} ({{zone.Z_ID}})
            </option>
        </select>
        <select class="form-select" [ngClass]="communicationServiceMobile ? 'mx-1 my-1' : 'w-25 ms-2'"
            [(ngModel)]="schoolModel" (change)="getGraphsBySchoolName()">
            <option value="" disabled>All School</option>
            <option *ngFor="let school of allSchools" [ngValue]="school">
                {{school.School_Name}} - ({{school.Schoolid}})
            </option>
        </select>
    </div>

    <div class="d-flex justify-content-center filter-box-total mt-2"
        *ngIf="districtModel || zoneModel || schoolModel.School_Name">
        <h3 class="text-center mb-0" *ngIf="districtModel">{{districtModel}}&nbsp; </h3>
        <h3 class="text-center mb-0" *ngIf="zoneModel"> <span *ngIf="districtModel">|</span> {{zoneModel}}&nbsp; </h3>
        <h3 class="text-center mb-0" *ngIf="schoolModel.School_Name"> <span *ngIf="zoneModel || districtModel">|</span>
            {{schoolModel.School_Name}}
        </h3>
    </div>
    <div class="container1 mt-2">
        <!-- <div class="column">
            <h5 class="header-bg p-2">Student Orientation</h5>
            <apx-chart [series]="studentOrientation?.series" [chart]="studentOrientation?.chart"
                [labels]="studentOrientation?.labels" [fill]="studentOrientation?.fill"
                [colors]="studentOrientation?.colors" [dataLabels]="studentOrientation?.dataLabels"
                [plotOptions]="studentOrientation?.plotOptions" [responsive]="studentOrientation?.responsive"
                [legend]="studentOrientation?.legend"></apx-chart>
        </div>
        
        <div class="column">
            <h5 class="header-bg p-2">Student Training</h5>
            <apx-chart [series]="studentTraining?.series" [chart]="studentTraining?.chart"
                [labels]="studentTraining?.labels" [fill]="studentTraining?.fill"
                [colors]="studentTraining?.colors" [dataLabels]="studentTraining?.dataLabels"
                [plotOptions]="studentTraining?.plotOptions" [responsive]="studentTraining?.responsive"
                [legend]="studentTraining?.legend"></apx-chart>
        </div>
        
        <div class="column">
            <h5 class="header-bg p-2">Sports And Games Equipment</h5>
            <apx-chart [series]="sportAndGames?.series" [chart]="sportAndGames?.chart"
                [labels]="sportAndGames?.labels" [fill]="sportAndGames?.fill"
                [colors]="sportAndGames?.colors" [dataLabels]="sportAndGames?.dataLabels"
                [plotOptions]="sportAndGames?.plotOptions" [responsive]="sportAndGames?.responsive"
                [legend]="sportAndGames?.legend"></apx-chart>
        </div>
        
        <div class="column">
            <h5 class="header-bg p-2">Free Uniform School</h5>
            <apx-chart [series]="freeUniform?.series" [chart]="freeUniform?.chart"
                [labels]="freeUniform?.labels" [fill]="freeUniform?.fill"
                [colors]="freeUniform?.colors" [dataLabels]="freeUniform?.dataLabels"
                [plotOptions]="freeUniform?.plotOptions" [responsive]="freeUniform?.responsive"
                [legend]="freeUniform?.legend"></apx-chart>
        </div>
        
        <div class="column">
            <h5 class="header-bg p-2">Free Book School</h5>
            <apx-chart [series]="freeBook?.series" [chart]="freeBook?.chart"
                [labels]="freeBook?.labels" [fill]="freeBook?.fill"
                [colors]="freeBook?.colors" [dataLabels]="freeBook?.dataLabels"
                [plotOptions]="freeBook?.plotOptions" [responsive]="freeBook?.responsive"
                [legend]="freeBook?.legend"></apx-chart>
        </div> -->
    </div>
    <div class="d-flex justify-content-center">
        <div class="w-100  column">
            <h5 class="header-bg p-2">Bar Graph</h5>
            <apx-chart [series]="totalSchoolsData?.series" [chart]="totalSchoolsData?.chart"
                [dataLabels]="totalSchoolsData?.dataLabels" [plotOptions]="totalSchoolsData?.plotOptions"
                [xaxis]="totalSchoolsData?.xaxis" [yaxis]="totalSchoolsData?.yaxis" [labels]="totalSchoolsData?.labels"
                [legend]="totalSchoolsData?.legend" [colors]="totalSchoolsData?.colors"
                [grid]="totalSchoolsData?.grid"></apx-chart>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button #openModal data-bs-toggle="modal" class="d-none" data-bs-target="#exampleModal">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-auto" *ngIf="dataPointIndex == 0" id="exampleModalLabel">Schools Details By
                    Student Orientation </h5>
                <h5 class="modal-title m-auto" *ngIf="dataPointIndex == 1" id="exampleModalLabel">Schools Details By
                    Student Received
                    Training </h5>
                <h5 class="modal-title m-auto" *ngIf="dataPointIndex == 2 || dataPointIndex == 3 || dataPointIndex == 4"
                    id="exampleModalLabel">Schools Details By Availability of {{ dataPointIndex == 2?'Play Master':
                    dataPointIndex == 3 ? 'Free Uniform' : 'Free Text Book'}} </h5>
               
                <div class="dropdown">
                    <span class="text-danger m-2"><img src="../../../assets/images/icons/downloads.png" width="25px"
                            alt=""></span>
                    <div class="dropdown-content">
                        <button class="btn" (click)="exportToCSV()"><i class="bi bi-filetype-csv h2 text-warning"></i>
                            CSV</button>
                        <button class="btn" (click)="exportToExcel()"><i
                                class="bi bi-file-earmark-excel h2 text-success"></i>
                            Excel</button>
                        <button class="btn" value="CPTURE" (click)="pdf.saveAs('School data.pdf')"><i
                                class="bi bi-filetype-pdf h2 text-danger"></i>PDF</button>
                    </div>
                </div>
                <!--  -->
                <button type="button" (click)="searchBox = ''" class="btn-close m-2" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3 w-50">
                    <span class="input-group-text" id="basic-addon1">🔍</span>
                    <input class="form-control" type="search" [(ngModel)]="searchBox" placeholder="Search by name..."
                        value="" id="example-search-input">
                </div>
                <kendo-pdf-export #pdf paperSize="A3">
                    <div class="table-responsive">
                        <table class="table table-responsive table-hover table-bordered table-striped"
                            id="contentToConvert"
                            *ngIf="dataPointIndex == 0 || dataPointIndex== 1 && dataPointIndex != 3 && dataPointIndex != 4 && dataPointIndex != 2">
                            <thead class="thead-light">
                                <tr class="table-bordered">
                                    <th rowspan="2">Sr No</th>
                                    <th rowspan="2">District</th>
                                    <th rowspan="2">Zone</th>
                                    <th rowspan="2">School Id</th>
                                    <th rowspan="2">School</th>
                                    <th rowspan="2">Type</th>
                                    <th colspan="12" class="fw-bold text-center">{{dataPointIndex == 0 ? 'Cyber Safety'
                                        : 'Students Received Training'}}</th>
                                </tr>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>12</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of seriesData | search:searchBox; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ data.district }}</td>
                                    <td>{{ data.zone }}</td>
                                    <td>{{ data.SchoolID }}</td>
                                    <td>{{ data.SchName }}</td>
                                    <td>{{ data.Sch_Type }}</td>
                                    <ng-container *ngIf="dataPointIndex == 0; else training">
                                        <td>{{ data.cybersafety_1 }}</td>
                                        <td>{{ data.cybersafety_2 }}</td>
                                        <td>{{ data.cybersafety_3 }}</td>
                                        <td>{{ data.cybersafety_4 }}</td>
                                        <td>{{ data.cybersafety_5 }}</td>
                                        <td>{{ data.cybersafety_6 }}</td>
                                        <td>{{ data.cybersafety_7 }}</td>
                                        <td>{{ data.cybersafety_8 }}</td>
                                        <td>{{ data.cybersafety_9 }}</td>
                                        <td>{{ data.cybersafety_10 }}</td>
                                        <td>{{ data.cybersafety_11 }}</td>
                                        <td>{{ data.cybersafety_12 }}</td>
                                    </ng-container>
                                    <ng-template #training>
                                        <td>{{ data.trainingpsycosocialaspects_1 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_2 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_3 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_4 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_5 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_6 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_7 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_8 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_9 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_10 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_11 }}</td>
                                        <td>{{ data.trainingpsycosocialaspects_12 }}</td>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-responsive table-hover table-bordered table-striped"
                            id="contentToConvert"
                            *ngIf="dataPointIndex == 2 || dataPointIndex == 3 || dataPointIndex == 4">
                            <thead class="thead-light">
                                <tr class="table-bordered">
                                    <th rowspan="2">Sr No</th>
                                    <th rowspan="2">District</th>
                                    <th rowspan="2">Zone</th>
                                    <th rowspan="2">School Id</th>
                                    <th rowspan="2">School</th>
                                    <th rowspan="2">Type</th>
                                    <th colspan="5" class="fw-bold text-center">
                                        {{ dataPointIndex == 2?'Play Master': dataPointIndex == 3 ? 'Free Uniform' :
                                        'Free Text Book'}}</th>
                                </tr>
                                <tr>
                                    <th>{{dataPointIndex == 4?'cpp tot' : 'Pre Primary'}}</th>
                                    <th>Primary</th>
                                    <th>Upper Primary</th>
                                    <th>Secondary</th>
                                    <th>Higher Secondary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of seriesData | search:searchBox;let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{data.district}}</td>
                                    <td>{{data.zone}}</td>
                                    <td>{{data.SchoolID}}</td>
                                    <td>{{data.SchName}}</td>
                                    <td>{{data.Sch_Type}}</td>
                                    <td *ngIf="dataPointIndex == 2">{{ data.PlayMater_Prepri || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 2">{{ data.PlayMater_Pri || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 2">{{ data.PlayMater_Upperpri || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 2">{{ data.PlayMater_Sec || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 2">{{ data.PlayMater_HSec || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 3">{{ data.uniform_Prepri || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 3">{{ data.uniform_Pri || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 3">{{ data.uniform_Upperpri || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 3">{{ data.uniform_Sec || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 3">{{ data.uniform_HSec || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 4">{{ data.cpp_tot || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 4">{{ data.Txtbook_Pri || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 4">{{ data.Txtbook_Upperpri || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 4">{{ data.Txtbook_Sec || 'No' }}</td>
                                    <td *ngIf="dataPointIndex == 4">{{ data.Txtbook_HSec || 'No' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </kendo-pdf-export>
            </div>

        </div>
    </div>
</div>